
.beskrivelse-meta {
	/*
	width:100px;
	border-left: 1px solid fadeout(@rubrik,75%);

	float:right;
	text-align:left;
	padding:3px 13px 2px 5px;

	*/
}

.relevans-boks {

	width:35px;
	float:right;
	text-align:center;
	margin:0px;
	padding:0px;
	background:none;

}

.relevans-input{
	width: 30px;
	display: none;
	text-align:center;

}

.relevans-pil{
	cursor: pointer;
	width:1em;
}

.irrelevant_bes{
	opacity: 0.5;
}


.css-hemmelig {

	text-decoration: line-through;

}



.list--beskrivelser {

	display: flex;
	flex-direction: row;

	.column {
		flex:1;

	}

}



.beskrivelse {


	//display: flex;
	flex-wrap: wrap;
	line-height:1em;
	margin-bottom:1em;
	overflow: auto;
	padding-bottom:0.2em;
	text-align: justify;

	.beskrivelse__options {
	//	font-style: italic;
		display: flex;
		flex-direction: column;
		text-align: center;

	}
	.beskrivelse__footer {

		display: flex;
		flex-direction: row;
		font-style: italic;

		div {
			flex:1;

		}

	}




	.initial {
			font-size:5em;
			line-height:0.95;
			float:left;
			display:block;
			cursor:pointer;
			font-family:"eileencaps";

	}

	.rest {
		display: inline;
		margin-left: -0.35em;
		font-size:1.1em;
	}


}

.rubrik .initial:hover {
	animation:rubrik-blot 1s 1;
	text-shadow: 	0px 2px 10px multiply($rubrik,$paper);

}

.ink .initial:hover {

	animation:ink-blot 1s 1;
	text-shadow: 	0px 2px 10px multiply($ink,$paper);
}


.beskrivelse__options {

	float:right;
	text-align:right;
	padding:0 0 0.2em 0.5em;

}



.beskrivelse__editor {
	text-align: left;
	display:flex;
	flex-direction: column;
	background:$paper;
	position: fixed;
	z-index: 100000;
	top:50px;
	bottom:45px;
	left:50.5%;
	right:1%;
	//padding-top:1em;
	border:#B7937B 1px solid;
	box-shadow: 0px 0px 15px 55px #fff;

}

.editor__top-row {
	display:flex;

	.editor__close {

		flex-grow: 1;

	}

}

.editor__bottom-row {
	align-self: flex-end;
	width:100%;

}

.beskrivelse__wysiwyg {

	padding:0.5em;
	border:brown 1px solid;
	overflow-y: scroll;
	height:300px;

	a {
		text-shadow: black 0 0 0.3em;
		color:black;


	}

}


.beskrivelse--link-chooser {

	padding:1em;
	border:1px brown solid;

}

.beskrivelse__link-tags {

	display:flex;
	list-style-type: none;
	flex-wrap:wrap;
//	padding: 0 0 0 0;


	li {
		padding:0.3em;
		margin:0.2em;
		border-radius: 0.5em;

		a {

			color:#fff;


		}
		button {
			padding:0.5em;
			border:none;
		}

	}

	input {

		width:30px;
		background-color: #fff;
	}


}



#toolbar {

	margin-bottom:1em;


	button {

		margin-right:.5em;
		background:transparent;
		border:1px solid $rubrik;


	}



}


input[disabled], select[disabled] {
	background: #E8E8E8;
	color:#797979;
}


.btn-hemmelig, .btn-offentlig {
		line-height: 20px;

}



.btn-hemmelig--active, .btn-offentlig--active {

	color:#fff;
	border:none;


}



.beskrivelse-meta {
	/*
	width:100px;
	border-left: 1px solid fadeout(@rubrik,75%);

	float:right;
	text-align:left;
	padding:3px 13px 2px 5px;

	*/
}

.relevans-boks {

	width:35px;
	float:right;
	text-align:center;
	margin:0px;
	padding:0px;
	background:none;

}

.relevans-input{
	width: 30px;
	display: none;
	text-align:center;

}

.relevans-pil{
	cursor: pointer;
	width:1em;
}

.irrelevant_bes{
	opacity: 0.5;
}


.css-hemmelig {

	text-decoration: line-through;

}



.list--beskrivelser {

	display: flex;
	flex-direction: row;

	.column {
		flex:1;

	}

}



.beskrivelse {


	//display: flex;
	flex-wrap: wrap;
	line-height:1em;
	margin-bottom:1em;
	overflow: auto;
	padding-bottom:0.2em;
	text-align: justify;

	.beskrivelse__options {
	//	font-style: italic;
		display: flex;
		flex-direction: column;
		text-align: center;

	}
	.beskrivelse__footer {

		display: flex;
		flex-direction: row;
		font-style: italic;

		div {
			flex:1;

		}

	}




	.initial {
			font-size:5em;
			line-height:0.95;
			float:left;
			display:block;
			cursor:pointer;
			font-family:"eileencaps";

	}

	.rest {
		display: inline;
		margin-left: -0.35em;
		font-size:1.1em;
	}


}

.rubrik .initial:hover {
	animation:rubrik-blot 1s 1;
	text-shadow: 	0px 2px 10px multiply($rubrik,$paper);

}

.ink .initial:hover {

	animation:ink-blot 1s 1;
	text-shadow: 	0px 2px 10px multiply($ink,$paper);
}


.beskrivelse__options {

	float:right;
	text-align:right;
	padding:0 0 0.2em 0.5em;

}


//
// .beskrivelse__editor {
// 	text-align: left;
// 	display:flex;
// 	flex-direction: column;
// 	background:$paper;
// 	position: fixed;
// 	z-index: 100000;
// 	top:50px;
// 	bottom:45px;
// 	left:50.5%;
// 	right:1%;
// 	//padding-top:1em;
// 	border:#B7937B 1px solid;
// 	box-shadow: 0px 0px 15px 55px #fff;
//
// }



.editor__top-row {
	display:flex;

	.editor__close {

		flex-grow: 1;

	}

}

.editor__bottom-row {
	align-self: flex-end;
	width:100%;

}

.beskrivelse__wysiwyg {

	padding:0.5em;
	border:brown 1px solid;
	overflow-y: scroll;
	height:300px;

	a {
		text-shadow: black 0 0 0.3em;
		color:black;


	}

}


.beskrivelse--link-chooser {

	padding:1em;
	border:1px brown solid;

}

.beskrivelse__link-tags {

	display:flex;
	list-style-type: none;
	flex-wrap:wrap;
//	padding: 0 0 0 0;


	li {
		min-height:30px;
		padding:0.3em;
		margin:0.2em;
		border-radius: 0.5em;

		a {

			color:#fff;


		}
		button {
			padding:0.5em;
			border:none;
		}

	}

	input {

		width:30px;
		background-color: #fff;
	}


}

@media (max-width:992px) {
	.beskrivelse__editor {
		left:1%;
	}
}

#toolbar {

	margin-bottom:1em;


	button {

		margin-right:.5em;
		background:transparent;
		border:1px solid $rubrik;


	}



}


input[disabled], select[disabled] {
	background: #E8E8E8;
	color:#797979;
}


.btn-hemmelig--active, .btn-offentlig--active {

	color:#fff;
	border:none;


}

.btn-hemmelig, .btn-offentlig {
		line-height: 20px;

}


.btn-offgame {
  border: 1px solid $rubrik;
  background-color: $paper;

  color:$rubrik;

}



.btn-offgame--active {
  background-color: $rubrik;
  color:$paper;

}

.btn-ingame {
  border: 1px solid $ink;
  background-color: $paper;

  color:$ink;
}



.btn-ingame--active {
background-color: $ink;
  color:$paper;
}

//.image-wrapper {
//
//}

//.image__relevans {
//	position:absolute;
//	z-index:10;
//	top:0;
//	right:0;
//	background:@paper;
//}
