@font-face {
	font-family: "centabel";
	src: url('fonts/centabel/centabel.eot');
	src: url('fonts/centabel/centabel.eot') format('embedded-opentype'),
    	 url('fonts/centabel/centabel.woff') format('woff'),
    	 url('fonts/centabel/centabel.ttf') format('truetype'),
         url('fonts/centabel/centabel.svg#CentabelBook') format('svg');
	font-weight:400;
}

@font-face {
	font-family: "eileencaps";
  src: url('fonts/eileen/EileenCaps-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/eileen/EileenCaps-Black.woff') format('woff'), url('fonts/eileen/EileenCaps-Black.ttf')  format('truetype'), url('fonts/eileen/EileenCaps-Black.svg#EileenCaps-Black') format('svg');

}












// Headlines


h4,h5 {
	margin-bottom:0.2em;
}
