.input--narrow {

  width:50px;

}

.input--narrow-height {
	height:20px;
}


.ajax__update-text {

  color:lightgray;
  font-weight:bold;
}

.form--login-form {

	input {
		border: 1px #000 solid;
	}

}


