

.image--full {
	align-self:center;
	box-shadow:rgba(0,0,0,0.3) 0 0 2px 2px;
	width:1200px;

	img.image--object {
		width:100%;
	}

}

.wrapper--padding {
	padding:2em;
}


@media (max-width: 1200px){

	.image--full {
		width:100%
	}

	.wrapper--padding {
		padding:1em;
	}



}
