/* Cursors */
.cursor--pointer {
    cursor: pointer;
}

/* Animationer til links */
@keyframes ink-blot {
  0% {
	text-shadow:	0px 0px 1px mix($ink,$paper,50%);
  }
  100% {
	text-shadow: 	/*0px 0px 1px multiply(lighten(@ink, 40%),@paper),
			0px 0px 5px multiply(lighten(@ink, 40%),@paper),
			0px 0px 10px multiply(lighten(@ink, 40%),@paper), */
			0px 0px 15px mix($ink,$paper,85%);


  }

}


@keyframes rubrik-blot {
  0% {
	text-shadow:	0px 0px 1px mix($rubrik,$paper,20%);
  }
  100% {
	text-shadow: 	/*0px 0px 1px multiply(lighten(@rubrik, 40%),@paper),
			0px 0px 5px multiply(lighten(@rubrik, 40%),@paper),

			0px 0px 10px multiply(lighten(@rubrik, 40%),@paper),*/
			0px 0px 15px mix($rubrik,$paper,85%);

  }

}



a:active, a:focus {
    outline: none;
}



a {
	text-decoration:none;
}

/* Ink/Rubrik Links  */

a.rubrik, .rubrik a,
.rubrik.ini-beskrivelse-manchet,
.rubrik.ini-beskrivelse-fuld  {
	text-decoration:none;

	&:link {
		color:$rubrik;
		text-decoration:none;
	}


	&:visited {
		color:$rubrik;
		text-decoration:none;
	}


	&:active {
		color:$rubrik;
		text-decoration:none;
		outline:none;
	}


	&:hover {
		color:$rubrik;
		text-decoration:none;
		animation:rubrik-blot 1s 1;
		text-shadow: 	0px 2px 15px mix($rubrik,$paper,85%);

	}


}

a.ink, .ink a,
.ink.ini-beskrivelse-manchet,
.ink.ini-beskrivelse-fuld {

	&:link {
		color:$ink;
		text-decoration:none;
	}


	&:visited {
		color:$ink;
		text-decoration:none;
	}


	&:active {
		color:$ink;
		text-decoration:none;
		outline:none;
	}


	&:hover {
		color:$ink;
		text-decoration:none;
		animation:ink-blot 1s 1;
		text-shadow: 	0px 0px 15px mix($ink,$paper,85%);
	}

}


/* Beskriverlser - Highlight fra links i beskrivelser */
.fuld_tekst_holder {

	.rubrik a {
		text-shadow: 	0px 0px 1px mix($rubrik,$paper, 60%);
	}

	.ink a {
		text-shadow: 	0px 0px 1px mix($ink,$paper, 60%);
	}


	.rubrik a.ink {
		text-shadow: 	0px 0px 1px mix($rubrik,$paper, 60%);
	}

	.ink a.rubrik {
		text-shadow: 	0px 0px 1px mix($ink,$paper, 60%);
	}


}


.beskrivelse {

	.rubrik a {
		text-shadow: 	0px 0px 1px mix($rubrik,$paper, 60%);
	}

	.ink a {
		text-shadow: 	0px 0px 1px mix($ink,$paper, 60%);
	}


	.rubrik a.ink {
		text-shadow: 	0px 0px 1px mix($rubrik,$paper, 60%);
	}

	.ink a.rubrik {
		text-shadow: 	0px 0px 1px mix($ink,$paper, 60%);
	}


}
