


.table__skillcategory {

	width:100%;

	td, th {
		border:1px gray solid;
	}

	td.skill__num-rank, th.skill__num-rank {
		width:36px;

		input {
			width:30px;
			text-align:center;
		}
	}
	td.ranks--valid {
		border-color:$leaf;
	}
	td.ranks--invalid {
		border-color:$rubrik;
	}



	th.skill__category {
		background: gray;
		color:white;
	}

	th.skill_name ,td.skill_name {
		width:25%;
	}

	input.ranks--valid {
		border:green 2px solid;
	}

	input.ranks--invalid {
		border:red 2px solid;
	}

	input.ranks--zero {
		border:gray 2px solid;
	}


	.skill__cost-input {
		width:30px;
	}

	.num-ranks--similar {
		background:opacify($turmeric,0.7);
	}

	.table-cell--emphasis {
		text-align:center;
		font-weight:bold;
		font-size:2em;
	}


}




.dev__accounting {
	position:fixed;
	top:0;
    right: 0;
	z-index:20000;
	background-color:#fff;

}
