// Fonts
$font-initial: "eileencaps";

$font-base: "centabel";


// Colors
$paper: #fff;
$rubrik: #5A0700;
$ink: #20214C;
$leaf: #004900;
$turmeric: #928D00;

h1 {
  color:blue;
}

html, body {

  min-height: 100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: $font-base;
}

// Global content types


h3,h4,h1 {
  margin-bottom:0.2em;

}

p {
  margin: 0;
  padding:0;
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: 0.3em;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {

  flex:1;

}


#tome {

    width:100%;
    height:100%;
    display: flex;
    align-items:stretch;
    background-image: url("images/page-shadow.svg");
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 20px;

}


.tome__page {
  height: 100vh;
  display: flex;
  flex:1;
  flex-direction: column;

}

.page__header,
.page__footer {
 // flex-basis: 30px;
//  height: 30px;
  display:flex;
}

.page__content {
  flex: 1;
  display:flex;
  overflow: auto;
  resize: none;
  margin-left: .7em;
  margin-right: .7em;

}

.content__wrapper {

  flex-grow: 1;
  //margin: auto 0;
  margin-left: .7em;
  margin-right: .7em;
  //flex:1;

}


.page__header .content__wrapper {
  border-bottom: solid 2px $rubrik;

}

.page__footer .content__wrapper {
  border-top: solid 2px $rubrik;
}



/* ALERTS  */


.alert--full-screen {

  position: fixed;
  top:40%;
  bottom:40%;
  left:40%;
  right:40%;
  background:#fff;

}

.shader--full-screen {

  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#fff;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  overflow: auto;

}


.alert--center {
  box-shadow: rgba(0,0,0,0.3) 0 0 2px 2px;
  padding:3em;
  //align-self: center center;

}




.typeahead__list {


  background:white;
  box-shadow: rgba(0,0,0,0.3) 0 0 2px 2px;
  //border:black 1px solid;
  padding: 1em;
  z-index:150000;
  position:absolute
}



.box--border {
  border: 1px solid lightgray;
  padding: 1em;

}


@import "icons";
@import "image";
@import "ink";
@import "lists";
@import "links";
@import "forms";
@import "loading";

@import "buttons";
@import "font";
@import "rolemaster";
@import "tooltip";
@import "description";
