{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<title>Style guide</title>


		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="{% static 'almanak/style/style.css' %}" />
	</head>

	<body>
		<div id="tome">
			<header>
					<section class="column"   >
							<section class="column column--content" >
	ffsf
							</section>	
	
							<section class="column column--content"  >
	sfs
							</section>	
	
					</section>						
					<section class="column"  >
							<section class="column column--content"  >
	sgd
							</section>	
	
							<section class="column column--content"  >
	sgs
							</section>	
	
					</section>				
			</header>

			<main  >
				<section class="column" >
						<section class="column column--content" >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, repellat minima! Architecto est, tempore dignissimos eveniet praesentium ratione iure blanditiis totam reiciendis distinctio repellat! Exercitationem cumque sit eaque voluptates necessitatibus numquam ullam labore accusantium totam veritatis veniam quos quia laborum saepe quo optio nobis, non porro pariatur? Quaerat, ullam. Non at rerum laudantium amet explicabo quis, nostrum praesentium laboriosam sequi. Ad suscipit labore assumenda praesentium molestiae aliquid libero minima optio necessitatibus esse velit et a porro dicta, maxime quae soluta quod nostrum inventore. Sequi impedit quae libero excepturi ipsum molestiae maiores voluptas odit aperiam eos et culpa, sint saepe quas voluptate non, hic dolores! Ipsa, alias totam explicabo nulla sit in accusamus quam accusantium pariatur dolorum, soluta sed veniam velit. Ducimus inventore veritatis error nesciunt reiciendis recusandae adipisci, quidem aliquam minima cumque porro quae omnis nihil explicabo rem magnam assumenda officiis hic facilis velit, reprehenderit dicta officia optio. Voluptatum totam, est harum voluptates expedita sint eum debitis. Sapiente libero ut ullam corporis eaque explicabo saepe cumque non, dolores omnis deserunt alias quia, dolorum a, assumenda suscipit quo iure minima consequuntur in. Eaque optio laborum placeat, assumenda quas eos incidunt nisi vero autem iste nihil odit consectetur officiis asperiores. Sunt totam similique deserunt fuga tempore ducimus minima reprehenderit? Voluptatum quam beatae omnis repellendus soluta illo porro quasi at, excepturi nostrum sint laudantium facere nobis cum doloribus error cumque eligendi totam? Cumque optio, velit numquam suscipit odit voluptas nobis consequuntur illum odio nesciunt, facilis minus est quasi ullam possimus corporis ad, accusamus cum. Dolore nihil aut dignissimos officiis dicta maxime est sed, non, alias earum, iste sunt repellendus fugit nam cumque distinctio accusantium nisi reprehenderit eaque error blanditiis! Itaque a delectus rerum, nam esse rem provident sed deserunt nulla! Recusandae ducimus sequi accusantium quo voluptatibus veritatis! Odio tenetur deleniti ullam. Temporibus rerum beatae tempore nobis molestias. Quia culpa molestiae, suscipit pariatur numquam eum velit deserunt nostrum voluptas quisquam ex corporis consequuntur nesciunt delectus eveniet nihil perspiciatis praesentium vitae alias ut rerum? Fugit optio asperiores eaque, numquam beatae repellendus quibusdam neque, impedit hic atque minus inventore quidem ex et quod placeat minima, ratione aperiam magni ipsam fuga expedita facilis earum est? A sapiente et ad hic aspernatur provident asperiores soluta maxime laboriosam unde voluptate aperiam in repellendus reprehenderit est aliquam perspiciatis doloribus itaque placeat, repudiandae quasi? Soluta porro velit nostrum, nobis illum, exercitationem enim impedit quidem commodi voluptatem est nesciunt iusto. Cum adipisci ex fugit, at voluptate repellat. Magni, consectetur temporibus. Delectus id, eius, itaque assumenda fugiat esse labore quia porro a, autem cum! Molestiae dignissimos libero provident? Omnis eaque alias earum est dolores. Error, explicabo ipsa animi est, corporis facere optio consequatur quis eum a tempora consequuntur? Expedita, voluptatum veritatis dolores mollitia eligendi debitis placeat sint nesciunt, voluptas officia tempore esse nisi excepturi provident labore distinctio laudantium magnam temporibus, cumque dolore doloribus ut error facere? Quaerat, vitae? Omnis ipsum ea maiores dignissimos laudantium tempora, exercitationem saepe reprehenderit. Cum porro itaque molestias suscipit doloribus tempora at voluptatibus, nemo beatae dolor voluptates similique voluptatem.
						</section>	

						<section class="column column--content" >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, repellat minima! Architecto est, tempore dignissimos eveniet praesentium ratione iure blanditiis totam reiciendis distinctio repellat! Exercitationem cumque sit eaque voluptates necessitatibus numquam ullam labore accusantium totam veritatis veniam quos quia laborum saepe quo optio nobis, non porro pariatur? Quaerat, ullam. Non at rerum laudantium amet explicabo quis, nostrum praesentium laboriosam sequi. Ad suscipit labore assumenda praesentium molestiae aliquid libero minima optio necessitatibus esse velit et a porro dicta, maxime quae soluta quod nostrum inventore. Sequi impedit quae libero excepturi ipsum molestiae maiores voluptas odit aperiam eos et culpa, sint saepe quas voluptate non, hic dolores! Ipsa, alias totam explicabo nulla sit in accusamus quam accusantium pariatur dolorum, soluta sed veniam velit. Ducimus inventore veritatis error nesciunt reiciendis recusandae adipisci, quidem aliquam minima cumque porro quae omnis nihil explicabo rem magnam assumenda officiis hic facilis velit, reprehenderit dicta officia optio. Voluptatum totam, est harum voluptates expedita sint eum debitis. Sapiente libero ut ullam corporis eaque explicabo saepe cumque non, dolores omnis deserunt alias quia, dolorum a, assumenda suscipit quo iure minima consequuntur in. Eaque optio laborum placeat, assumenda quas eos incidunt nisi vero autem iste nihil odit consectetur officiis asperiores. Sunt totam similique deserunt fuga tempore ducimus minima reprehenderit? Voluptatum quam beatae omnis repellendus soluta illo porro quasi at, excepturi nostrum sint laudantium facere nobis cum doloribus error cumque eligendi totam? Cumque optio, velit numquam suscipit odit voluptas nobis consequuntur illum odio nesciunt, facilis minus est quasi ullam possimus corporis ad, accusamus cum. Dolore nihil aut dignissimos officiis dicta maxime est sed, non, alias earum, iste sunt repellendus fugit nam cumque distinctio accusantium nisi reprehenderit eaque error blanditiis! Itaque a delectus rerum, nam esse rem provident sed deserunt nulla! Recusandae ducimus sequi accusantium quo voluptatibus veritatis! Odio tenetur deleniti ullam. Temporibus rerum beatae tempore nobis molestias. Quia culpa molestiae, suscipit pariatur numquam eum velit deserunt nostrum voluptas quisquam ex corporis consequuntur nesciunt delectus eveniet nihil perspiciatis praesentium vitae alias ut rerum? Fugit optio asperiores eaque, numquam beatae repellendus quibusdam neque, impedit hic atque minus inventore quidem ex et quod placeat minima, ratione aperiam magni ipsam fuga expedita facilis earum est? A sapiente et ad hic aspernatur provident asperiores soluta maxime laboriosam unde voluptate aperiam in repellendus reprehenderit est aliquam perspiciatis doloribus itaque placeat, repudiandae quasi? Soluta porro velit nostrum, nobis illum, exercitationem enim impedit quidem commodi voluptatem est nesciunt iusto. Cum adipisci ex fugit, at voluptate repellat. Magni, consectetur temporibus. Delectus id, eius, itaque assumenda fugiat esse labore quia porro a, autem cum! Molestiae dignissimos libero provident? Omnis eaque alias earum est dolores. Error, explicabo ipsa animi est, corporis facere optio consequatur quis eum a tempora consequuntur? Expedita, voluptatum veritatis dolores mollitia eligendi debitis placeat sint nesciunt, voluptas officia tempore esse nisi excepturi provident labore distinctio laudantium magnam temporibus, cumque dolore doloribus ut error facere? Quaerat, vitae? Omnis ipsum ea maiores dignissimos laudantium tempora, exercitationem saepe reprehenderit. Cum porro itaque molestias suscipit doloribus tempora at voluptatibus, nemo beatae dolor voluptates similique voluptatem.
						</section>	
	
				</section>

				<section class="column" >
						<section class="column column--content" >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, repellat minima! Architecto est, tempore dignissimos eveniet praesentium ratione iure blanditiis totam reiciendis distinctio repellat! Exercitationem cumque sit eaque voluptates necessitatibus numquam ullam labore accusantium totam veritatis veniam quos quia laborum saepe quo optio nobis, non porro pariatur? Quaerat, ullam. Non at rerum laudantium amet explicabo quis, nostrum praesentium laboriosam sequi. Ad suscipit labore assumenda praesentium molestiae aliquid libero minima optio necessitatibus esse velit et a porro dicta, maxime quae soluta quod nostrum inventore. Sequi impedit quae libero excepturi ipsum molestiae maiores voluptas odit aperiam eos et culpa, sint saepe quas voluptate non, hic dolores! Ipsa, alias totam explicabo nulla sit in accusamus quam accusantium pariatur dolorum, soluta sed veniam velit. Ducimus inventore veritatis error nesciunt reiciendis recusandae adipisci, quidem aliquam minima cumque porro quae omnis nihil explicabo rem magnam assumenda officiis hic facilis velit, reprehenderit dicta officia optio. Voluptatum totam, est harum voluptates expedita sint eum debitis. Sapiente libero ut ullam corporis eaque explicabo saepe cumque non, dolores omnis deserunt alias quia, dolorum a, assumenda suscipit quo iure minima consequuntur in. Eaque optio laborum placeat, assumenda quas eos incidunt nisi vero autem iste nihil odit consectetur officiis asperiores. Sunt totam similique deserunt fuga tempore ducimus minima reprehenderit? Voluptatum quam beatae omnis repellendus soluta illo porro quasi at, excepturi nostrum sint laudantium facere nobis cum doloribus error cumque eligendi totam? Cumque optio, velit numquam suscipit odit voluptas nobis consequuntur illum odio nesciunt, facilis minus est quasi ullam possimus corporis ad, accusamus cum. Dolore nihil aut dignissimos officiis dicta maxime est sed, non, alias earum, iste sunt repellendus fugit nam cumque distinctio accusantium nisi reprehenderit eaque error blanditiis! Itaque a delectus rerum, nam esse rem provident sed deserunt nulla! Recusandae ducimus sequi accusantium quo voluptatibus veritatis! Odio tenetur deleniti ullam. Temporibus rerum beatae tempore nobis molestias. Quia culpa molestiae, suscipit pariatur numquam eum velit deserunt nostrum voluptas quisquam ex corporis consequuntur nesciunt delectus eveniet nihil perspiciatis praesentium vitae alias ut rerum? Fugit optio asperiores eaque, numquam beatae repellendus quibusdam neque, impedit hic atque minus inventore quidem ex et quod placeat minima, ratione aperiam magni ipsam fuga expedita facilis earum est? A sapiente et ad hic aspernatur provident asperiores soluta maxime laboriosam unde voluptate aperiam in repellendus reprehenderit est aliquam perspiciatis doloribus itaque placeat, repudiandae quasi? Soluta porro velit nostrum, nobis illum, exercitationem enim impedit quidem commodi voluptatem est nesciunt iusto. Cum adipisci ex fugit, at voluptate repellat. Magni, consectetur temporibus. Delectus id, eius, itaque assumenda fugiat esse labore quia porro a, autem cum! Molestiae dignissimos libero provident? Omnis eaque alias earum est dolores. Error, explicabo ipsa animi est, corporis facere optio consequatur quis eum a tempora consequuntur? Expedita, voluptatum veritatis dolores mollitia eligendi debitis placeat sint nesciunt, voluptas officia tempore esse nisi excepturi provident labore distinctio laudantium magnam temporibus, cumque dolore doloribus ut error facere? Quaerat, vitae? Omnis ipsum ea maiores dignissimos laudantium tempora, exercitationem saepe reprehenderit. Cum porro itaque molestias suscipit doloribus tempora at voluptatibus, nemo beatae dolor voluptates similique voluptatem.
						</section>	
	
						<section class="column column--content" >
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, repellat minima! Architecto est, tempore dignissimos eveniet praesentium ratione iure blanditiis totam reiciendis distinctio repellat! Exercitationem cumque sit eaque voluptates necessitatibus numquam ullam labore accusantium totam veritatis veniam quos quia laborum saepe quo optio nobis, non porro pariatur? Quaerat, ullam. Non at rerum laudantium amet explicabo quis, nostrum praesentium laboriosam sequi. Ad suscipit labore assumenda praesentium molestiae aliquid libero minima optio necessitatibus esse velit et a porro dicta, maxime quae soluta quod nostrum inventore. Sequi impedit quae libero excepturi ipsum molestiae maiores voluptas odit aperiam eos et culpa, sint saepe quas voluptate non, hic dolores! Ipsa, alias totam explicabo nulla sit in accusamus quam accusantium pariatur dolorum, soluta sed veniam velit. Ducimus inventore veritatis error nesciunt reiciendis recusandae adipisci, quidem aliquam minima cumque porro quae omnis nihil explicabo rem magnam assumenda officiis hic facilis velit, reprehenderit dicta officia optio. Voluptatum totam, est harum voluptates expedita sint eum debitis. Sapiente libero ut ullam corporis eaque explicabo saepe cumque non, dolores omnis deserunt alias quia, dolorum a, assumenda suscipit quo iure minima consequuntur in. Eaque optio laborum placeat, assumenda quas eos incidunt nisi vero autem iste nihil odit consectetur officiis asperiores. Sunt totam similique deserunt fuga tempore ducimus minima reprehenderit? Voluptatum quam beatae omnis repellendus soluta illo porro quasi at, excepturi nostrum sint laudantium facere nobis cum doloribus error cumque eligendi totam? Cumque optio, velit numquam suscipit odit voluptas nobis consequuntur illum odio nesciunt, facilis minus est quasi ullam possimus corporis ad, accusamus cum. Dolore nihil aut dignissimos officiis dicta maxime est sed, non, alias earum, iste sunt repellendus fugit nam cumque distinctio accusantium nisi reprehenderit eaque error blanditiis! Itaque a delectus rerum, nam esse rem provident sed deserunt nulla! Recusandae ducimus sequi accusantium quo voluptatibus veritatis! Odio tenetur deleniti ullam. Temporibus rerum beatae tempore nobis molestias. Quia culpa molestiae, suscipit pariatur numquam eum velit deserunt nostrum voluptas quisquam ex corporis consequuntur nesciunt delectus eveniet nihil perspiciatis praesentium vitae alias ut rerum? Fugit optio asperiores eaque, numquam beatae repellendus quibusdam neque, impedit hic atque minus inventore quidem ex et quod placeat minima, ratione aperiam magni ipsam fuga expedita facilis earum est? A sapiente et ad hic aspernatur provident asperiores soluta maxime laboriosam unde voluptate aperiam in repellendus reprehenderit est aliquam perspiciatis doloribus itaque placeat, repudiandae quasi? Soluta porro velit nostrum, nobis illum, exercitationem enim impedit quidem commodi voluptatem est nesciunt iusto. Cum adipisci ex fugit, at voluptate repellat. Magni, consectetur temporibus. Delectus id, eius, itaque assumenda fugiat esse labore quia porro a, autem cum! Molestiae dignissimos libero provident? Omnis eaque alias earum est dolores. Error, explicabo ipsa animi est, corporis facere optio consequatur quis eum a tempora consequuntur? Expedita, voluptatum veritatis dolores mollitia eligendi debitis placeat sint nesciunt, voluptas officia tempore esse nisi excepturi provident labore distinctio laudantium magnam temporibus, cumque dolore doloribus ut error facere? Quaerat, vitae? Omnis ipsum ea maiores dignissimos laudantium tempora, exercitationem saepe reprehenderit. Cum porro itaque molestias suscipit doloribus tempora at voluptatibus, nemo beatae dolor voluptates similique voluptatem.
						</section>	

				</section>

			</main>

			<footer>
					<section class="column" >
							<section class="column column--content" >
	ffsf
							</section>	
	
							<section class="column column--content" >
	sfs
							</section>	
	
					</section>						
					<section class="column" >
							<section class="column column--content"  >
	sgd
							</section>	
	
							<section class="column column--content" >
	sgs
							</section>	
	
					</section>	


			</footer>


			<!-- <header class="header--left">header left</header>
			<header class="header--right">header right</header>

			<div class="content content--left">content left</div>
			<div class="content content--left">content right</div>

			<footer class="footer--left">footer left</footer>
			<footer class="footer--left">footer right</footer> -->
			<!-- <div class="paper">
				PAPER
			</div> -->

		</div>	

	</body>




</html>
