{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
			<title>
				{% if debug %}
					TEST
				{% endif %}
				{% block page_title %} {% endblock %}
				{% if request.session.universe_name %}
					{{ request.session.universe_name  }}
				{% endif %}
			</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

		<link rel="stylesheet" type="text/css" href="{% static 'almanak/style.css' %}" />

		<script src="{% static 'almanak/js/lib/popper.min.js' %}"></script>


		<script src="{% static 'almanak/js/lib/vue.js' %}"></script>


		<script src="{% static 'almanak/js/lib/vuex.min.js' %}"></script>
		<script src="{% static 'almanak/js/lib/axios.min.js' %}"></script>
		<script src="{% static 'almanak/js/lib/lodash.js' %}"></script>

		<script src="{% static 'almanak/js/lib/v-tooltip.min.js' %}"></script>
	</head>
	<body>
		<!-- for ingame validation and data retrieval  -->
		<input type="hidden" id="user-id" value="{{ user.pk }}">
		<input type="hidden" id="universe-id" value="{{ request.session.universe_current }}">
		<input type="hidden" id="campaign-id" value="{{ request.session.campaign_current }}">
		<input type="hidden" id="role-id" value="{{ request.session.role_current }}">
		<input type="hidden" id="static-url" value="{% static 'almanak/' %}">
		{% block api_endpoints %}
		<input type="hidden" id="session" value="{{ request.session.current_element_id}}">

		{% endblock %}
		<!-- Main wrapper and element of main Vue instance  -->
		<div id="tome">


		<page-loading v-if="pageReady == false" text="PAGE IS LOADING" >
        </page-loading>

        <create-new-element v-if="pageReady == true && $store.state.element.editors.createNewElement.open == true">
        </create-new-element>

		<access-denied v-if="$store.state.element.accessDenied == true">
		</access-denied>

		<!-- If user is not ingame (have a universe_id, Campaign_id and role_id in his session) This dialog appears: from where user can choose an ingame view. -->
		<go-ingame v-if="userIsIngame == false">
		</go-ingame>


		{% block full_screen %}
        {% endblock %}








      <!-- <pre>[[ $store.state ]]</pre> -->


      <div class="tome__page" >


        <div class="page__header" >

          <div class="content__wrapper">
            <div class="row">
            <div class="column">
				<div style="display:flex;flex-direction:row">
                	<img v-tooltip="'Create New Element'" class="icon icon--header" src="{% static 'almanak/images/icons/page.svg' %}" class="rubrik" @click="$store.state.element.editors.createNewElement.open = true" style="cursor:pointer" />
              		<autocomplete v-if="pageReady == true"  placeholder-text="Search for a page" >
              		</autocomplete>
				</div>
            </div>
            <div class="column" style="text-align:right;">
              <p class="rubrik" ><a href="/accounts/profile">[[ $store.state.user.first_name ]] [[ $store.state.user.last_name ]]</a></p>
              <p class="rubrik"><a href="/logout">Logout</a></p>
            </div>
          </div>
        </div>

        </div>
        <div class="page__content">

          <div class="content__wrapper">


                {% block content_error %}
                {% endblock %}

                {% block content_names %}
                {% endblock %}


                {% block content_master_data %}
                {% endblock %}

                {% block content_birth_death %}
                {% endblock %}

				<div class="row">

					<div class="column">
	                	{% block content_relations %}
	                	{% endblock %}
					</div>

					<div class="column">
	                	{% block content_relation_right %}
	                	{% endblock %}
					</div>
				</div>


                {% block content_left %}



                {% endblock %}

          </div>

        </div>
        <div class="page__footer">

          <div class="content__wrapper">
			  {% block footer_left %}

			  {% endblock %}

          </div>

        </div>

      </div>

      <div class="tome__page" >

        <div class="page__header">

          <div class="content__wrapper"  >
			  <div class="row">
				  	<div class="column">
			            <ingame-status v-if="userIsIngame == true && pageReady == true && $store.state.user.player_characters">

			            </ingame-status>
					</div>
					<div class="column">
						{% block header_right %}

						{% endblock %}
					</div>
				</div>
          </div>

        </div>
        <div class="page__content">

          <div class="content__wrapper">

            <div style="overflow:auto;flex: 1 1 auto;">

            {% block content_right %}

            <!-- <pre v-if="ingame.isIngame">[[ role | json ]]</pre> -->
            <!-- <pre>[[ session ]]</pre> -->

            {% endblock %}

            </div>

          </div>

        </div>
        <div class="page__footer">

          <div class="content__wrapper">
			  {% block footer_right %}

			  {% endblock %}
          </div>

        </div>

      </div>








    </div>
    <script>
		//~ Skal flyttes til init.js
	var pageType = document.getElementById("page-type").value;
	var userId = document.getElementById("user-id").value;
	var universeId = document.getElementById("universe-id").value;
	var campaignId = document.getElementById("campaign-id").value;
	var roleId = document.getElementById("role-id").value;
	var staticUrl = document.getElementById("static-url").value;
	var elementId = "";
	var elementType = "";

	if (document.getElementById("element-id") && document.getElementById("element-type")) {
	  elementId = document.getElementById("element-id").value;
	  elementType = document.getElementById("element-type").value;
	}
	else {
		elementId = null;
		elementType	= null;
	}
	</script>
    <!-- Javascripts dynamically loaded by enherited templates -->
    {% block javascript %}
    {% endblock %}
    <!-- Javascripts used by all page types  -->
    <!-- <script src="{% static 'almanak/js/lib/quill.min.js' %}"></script> -->
    <script src="{% static 'almanak/js/components/access-denied.js' %}" ></script>

    <script src="{% static 'almanak/js/components/create-new-element.js' %}" ></script>
    <script src="{% static 'almanak/js/components/autocomplete.js' %}" ></script>
    <script src="{% static 'almanak/js/components/go-ingame.js' %}" ></script>
    <script src="{% static 'almanak/js/components/page-loading.js' %}" ></script>
    <script src="{% static 'almanak/js/components/ingame-status.js' %}" ></script>
    <script src="{% static 'almanak/js/store.js' %}" ></script>
    <script src="{% static 'almanak/js/init.js' %}" ></script>



  </body>
</html>
