{% extends "almanak/element.html" %}
{% load static %}



{% block content_master_data %}
{{ block.super }}

<occured v-if="pageReady == true" ></occured>

{% endblock %}


{% block content_relations %}

<participants v-if="pageReady == true"  ></participants>

{{ block.super }}



{% endblock %}

{% block content_relation_right %}

{% endblock %}


{% block javascript %}
{{ block.super }}

<script src="{% static 'almanak/js/components/participants.js' %}" ></script>
<script src="{% static 'almanak/js/components/occured.js' %}" ></script>
<script src="{% static 'almanak/js/components/element-allocation.js' %}" ></script>


{% endblock %}
