{% extends "almanak/base.html" %}
{% load static %}


{% block page_title %}
	{{ object.content|striptags|slice:"0:50" }}...
{% endblock %}

{% block api_endpoints %}
  <input type="hidden" id="page-type" value="description">
  <input type="hidden" id="description-id" value="{{ object.id }}">
  <!-- <input type="hidden" id="session" value="{{ request.session.current_element_id}}">
  <input type="hidden" id="element-id" value="{{ element.id }}">
  <input type="hidden" id="element-type" value="{{element.type_grund}}"> -->


{% endblock %}

{% block full_screen %}

<description-full v-if="$store.state.descriptionFull.dataLoaded == true" ></description-full>

{% endblock %}



{% block javascript %}
<script>

	var descriptionId = document.getElementById("description-id").value;

</script>

<script src="{% static 'almanak/js/components/description-full.js' %}" ></script>


{% endblock %}
