{% extends "almanak/base.html" %}
{% load static %}


{% block page_title %}
  Page Removed
{% endblock %}



{% block api_endpoints %}
  <input type="hidden" id="page-type" value="element_deleted" />
{% endblock %}


{% block content_names %}

<div class="shader--full-screen">
  <div class="alert--center" style="text-align:center">
    <h3 class="rubrik">Page Removed</h3>
    <h2 class="rubrik">This page has been removed from the bestiary <br/><br/><span class="ink">{{ element.universe.name }}</span></h2>
	<h3 class="rubrik">{{ element.updated }}</h3>
	<br/><br/>
    <a class="rubrik" href="/accounts/profile">Go to Table of Contents</a>

  </div>

</div>

{% endblock %}
