{% extends "almanak/base.html" %}
{% load static %}

{% block page_title %}
  {{ element.names.first.name }} @
{% endblock %}

{% block api_endpoints %}
  <input type="hidden" id="page-type" value="element">
  <input type="hidden" id="session" value="{{ request.session.current_element_id}}">
  <input type="hidden" id="element-id" value="{{ element.id }}">
  <input type="hidden" id="element-type" value="{{element.type_grund}}">


{% endblock %}

{% block header_right %}
<div style="display:flex;flex-direction:row-reverse;align-items:flex-end;">


		<image-new v-if="pageReady == true" >
		</image-new>

		<description-new v-if="pageReady == true" >
		</description-new>


	<description-search v-if="pageReady == true" >
	</description-search>


</div>
{% endblock %}


{% block page_loading %}

{% endblock %}
<!-- <pre>[[ element ]]</pre> -->

{% block content_names %}


  <div >
    <element-names v-if="pageReady == true" >

    </element-names>
  </div>

{% endblock %}


{% block content_master_data %}

<!-- <pre>[[ session ]]</pre> -->

<element-master-data v-if="$store.state.element.loaded.masterdata == true">

</element-master-data>

{% endblock %}

{% block content_birth_death %}
  <br/>
  <birth-death v-if="pageReady == true && $store.state.element.loaded.relations" >

  </birth-death>

{% endblock %}




{% block content_relations %}


  <element-allocation v-if="pageReady == true" >



  </element-allocation>

{% endblock %}


{% block content_relation_right %}
	<owned-by v-if="pageReady == true && $store.state.element.loaded.relations" > </owned-by>

	<owner-of v-if="pageReady == true && $store.state.element.loaded.relations" > </owner-of>

{% endblock %}



{% block content_left %}






{% endblock %}




{% block content_right %}

<div v-if="pageReady == true">
  <descriptions-list>
  </descriptions-list>
</div>
{% endblock %}




{% block footer_left %}

	<div class="row">
		<div class="column" style="flex:3">
			<element-meta-data v-if="pageReady == true" ></element-meta-data	>

		</div>
		<div class="column" style="text-align:right;flex:1">
			<br/>
			<element-delete v-if="pageReady == true"></element-delete>


		</div>


	</div>



{% endblock %}
{% block footer_right %}
	<br/>	<br/>
{% endblock %}

{% block javascript %}

  <script src="{% static 'almanak/js/lib/wysiwyg.js' %}"></script>
  <script src="{% static 'almanak/js/components/wrong-universe.js' %}" ></script>



  <script src="{% static 'almanak/js/components/description-search.js' %}" ></script>
  <script src="{% static 'almanak/js/components/description-new.js' %}" ></script>
  <script src="{% static 'almanak/js/components/image-new.js' %}" ></script>


  <script src="{% static 'almanak/js/components/birth-death.js' %}" ></script>
  <script src="{% static 'almanak/js/components/element-master-data.js' %}" ></script>
  <script src="{% static 'almanak/js/components/element-meta-data.js' %}" ></script>
  <script src="{% static 'almanak/js/components/element-delete.js' %}" ></script>
  <script src="{% static 'almanak/js/components/element-allocation.js' %}" ></script>

  <script src="{% static 'almanak/js/components/descriptions-list.js' %}"></script>
  <script src="{% static 'almanak/js/components/description-show.js' %}"></script>
  <script src="{% static 'almanak/js/components/description-edit.js' %}"></script>
  <script src="{% static 'almanak/js/components/image-show.js' %}"></script>
  <script src="{% static 'almanak/js/components/image-edit.js' %}"></script>

  <script src="{% static 'almanak/js/components/names.js' %}"></script>

  <script src="{% static 'almanak/js/components/owner-of.js' %}"></script>
  <script src="{% static 'almanak/js/components/owned-by.js' %}"></script>


{% endblock %}
