{% extends "almanak/element.html" %}
{% load static %}



{% block content_relations %}
{{ block.super }}


	<members v-if="$store.state.element.relations.below"></members>
	<experiences></experiences>

{% endblock %}


{% block content_relation_right %}

	<group-type v-if="pageReady == true && $store.state.element.loaded.relations"></group-type>

{% endblock %}

{% block javascript %}
<script src="{% static 'almanak/js/components/experiences.js' %}" ></script>
<script src="{% static 'almanak/js/components/members.js' %}" ></script>
<script src="{% static 'almanak/js/components/group-type.js' %}" ></script>
<script src="{% static 'almanak/js/components/membership-edit.js' %}" ></script>


{{ block.super }}
{% endblock %}
