{% extends "almanak/base.html" %}
{% load static %}


{% block page_title %}
	{{ object.title }}...
{% endblock %}

{% block api_endpoints %}
  <input type="hidden" id="page-type" value="image">
  <input type="hidden" id="image-id" value="{{ object.id }}">
  <!-- <input type="hidden" id="session" value="{{ request.session.current_element_id}}">
  <input type="hidden" id="element-id" value="{{ element.id }}">
  <input type="hidden" id="element-type" value="{{element.type_grund}}"> -->


{% endblock %}

{% block full_screen %}

<image-full v-if="$store.state.imageFull.dataLoaded == true" ></image-full>

{% endblock %}



{% block javascript %}
<script>

	var imageId = document.getElementById("image-id").value;

</script>

<script src="{% static 'almanak/js/components/image-full.js' %}" ></script>


{% endblock %}
