{% extends "almanak/element.html" %}
{% load static %}

{% block content_master_data %}
{{ block.super }}


<kin  v-if="pageReady == true"  >

</kin>

<gender v-if="pageReady == true" >

</gender>
{% endblock %}



{% block content_relations %}

<family-relations  v-if="pageReady == true" >

</family-relations>

<br/><br/>

<group-membership  v-if="pageReady == true" >

</group-membership>

<experiences>

</experiences>


{% endblock %}




{% block javascript %}
<script src="{% static 'almanak/js/components/experiences.js' %}" ></script>
<script src="{% static 'almanak/js/components/kin.js' %}" ></script>
<script src="{% static 'almanak/js/components/gender.js' %}" ></script>
<script src="{% static 'almanak/js/components/group-membership.js' %}" ></script>
<script src="{% static 'almanak/js/components/family-relations.js' %}" ></script>

{{ block.super }}
{% endblock %}
