{% extends "almanak/begivenhed.html" %}
{% load static %}


{% block content_master_data %}
{{ block.super }}

<gamemasters v-if="dataLoaded == true" :st="staticBase" :is-editor="element.user_is_editor" :gamemasters="element.gamemasters" :users="element.universe.users" :element="element"  inline-template >

  <div>
    <p class="rubrik">Gamemasters:
      <span class="ink" v-for="(gm,i) in gamemasters">[[ gm.first_name ]] [[ gm.last_name ]]<span v-if="gamemasters.length > i + 1">, </span></span>
      <img v-if="isEditor == true" :src="st + 'images/icons/pencil.svg'" style="cursor:pointer;height:1em;" @click="editGamemasters = !editGamemasters" />
    </p>
    <div v-if="editGamemasters == true">
      <select @change="addGamemaster(userToBeGamemaster)" v-model="userToBeGamemaster">
        <option value="-1">Select user</option>
        <option v-for="(u,i) in users" :value="i">
          [[ u.first_name ]] [[ u.last_name ]]
        </option>

      </select>
      <p class="ink" v-for="(gm,i) in gamemasters">[[ gm.first_name ]] [[ gm.last_name ]] <strong style="cursor:pointer;" class="rubrik" @click="removeGamemaster(gm)">&times;</strong></p>

    </div>
  </div>

</gamemasters>

<offgame-time v-if="dataLoaded == true" :st="staticBase" :is-editor="element.user_is_editor" :element="element" inline-template>

  <div>
      <h4 style="color:red;">[OFFGAME TIME MISSING]</h4>
      <!-- <p class="rubrik">
        Real life start:
        <span class=ink >[[timeToHuman(element.offgame_start)]]</span>
        <img v-if="isEditor == true" :src="st + 'images/icons/pencil.svg'" style="cursor:pointer;height:1em;" @click="editOffgameStart = !editOffgameStart" />
      </p>
      <div v-if="editOffgameStart == true">

        <input type="datetime-local" v-model="element.offgame_start">
        date: <input class="input--narrow" type="number" v-model.number="startDate" />
        month:
        <select v-model="startMonth"  >
          <option value="0">-</option>
          <option v-for="m in months.options" :value="m.value">[[ m.text ]]</option>
        </select>
        year: <input class="input--narrow" v-model.number="startYear" type="number"  />
        <input class="input--narrow" type="number" v-model.number="startHour" />:
        <input class="input--narrow" type="number" v-model.number="startMinute" />
      </div>

      <p class="rubrik">Real life end:
        <span class=ink >[[timeToHuman(element.offgame_end)]]</span>
        <img v-if="isEditor == true" :src="st + 'images/icons/pencil.svg'" style="cursor:pointer;height:1em;" @click="editOffgameEnd = !editOffgameEnd" />
      </p>
      <div v-if="editOffgameEnd == true">
        Edit offgame_end
      </div> -->


  </div>

</offgame-time>

{% endblock %}

{% block content_birth_death %}
{{ block.super }}

<ingame-now v-if="dataLoaded == true" :is-editor="element.user_is_editor" :st="staticBase" :element="element" :ages="session.universe.ages" inline-template>
  <div>
    <p class="rubrik">Ingame Now:
      <span class="ink">[[ ingame_date_str(element.ingame_now_date,element.ingame_now_month,element.ingame_now_year,element.ingame_now_age,0,0) ]]</span>
      <img v-if="isEditor == true" :src="st + 'images/icons/pencil.svg'" style="cursor:pointer;height:1em;" @click="editIngameNow = !editIngameNow" />
    </p>
    <div v-if="editIngameNow == true">
      <p @change="changeIngameNow()" class="rubrik">
        date: <input class="input--narrow" v-model.number="element.ingame_now_date" type="number" :disabled="ingameNowNotDefined == true ? true : false" />
        month:
        <select v-model="element.ingame_now_month" :disabled="ingameNowNotDefined == true ? true : false" >
          <option value="0">-</option>
          <option v-for="m in months.options" :value="m.value">[[ m.text ]]</option>
        </select>
        year: <input class="input--narrow" v-model.number="element.ingame_now_year" type="number" :disabled="ingameNowNotDefined == true ? true : false" />
        age:
        <select v-model="element.ingame_now_age" >
          <option :value="null">-</option>
          <option v-for="o in ages" :value="o.id">[[ o.initials.toUpperCase() ]]</option>
        </select>
        [[ ingameNowMessage ]]
      </p>
    </div>
  </div>

</ingame-now>

{% endblock %}




{% block content_relations %}

<player-characters v-if="pageReady == true"></player-characters>




<rpg-sessions :st="staticBase" :is-editor="element.user_is_editor" v-if="dataLoaded == true" :data-loaded="dataLoaded" :sessions="element.sessions" :element="element" inline-template>



  <div>
    <h4 class="rubrik">
      Roleplaying Sessions <span style="color:red;">[Check op på den dobbelte relation mellem kampagne og rpg_session (sessions/element-relations)]</span>
      <strong v-if="isEditor" class="rubrik" style="cursor:pointer;" @click="editRpgSessions = !editRpgSessions" >+</strong>
    </h4>
    <div v-if="editRpgSessions == true">

      <button @click="createDialog = !createDialog ">Create new Roleplaying Session </button>

      <create-new-element v-if="dataLoaded == true && createDialog == true" :show="createDialog" :element="element" type-spec="rpg_session" change-type="false" inline-template>
          {% include "almanak/vue/create-new-element.html" %}
      </create-new-element>

    </div>
    <!-- <pre>[[ sessionsRev ]]</pre> -->
    <div v-for="s in element.elements_below" v-if="s.deleted == false && s.below.type_spec == 'rpg_session'">

      <div class="rubrik">
        [[s.below.session_number]]
        <a class="ink" :href="'/almanak/side/' + s.id">[[s.below.present_name]]</a>
        <strong v-if="isEditor" style="cursor:pointer;" class="rubrik" @click="s.delete_question = !s.delete_question" >&times;</strong>
        <p v-if="s.delete_question == true">
            Do you want to remove
            <strong>[[ s.present_name ]]</strong> as a Roleplaying Session
            <button @click="deleteSessionCampaignRelation(s)">Yes</button>
            <button @click="s.delete_question = !s.delete_question" >No</button>
        </p>
      </div>
    </div>
    <!-- <pre>[[ sessionsRev ]]</pre> -->
  </div>

</rpg-sessions>





{{ block.super }}


{% endblock %}












{% block javascript %}
    <script src="{% static 'almanak/js/components/ingame-now.js' %}" ></script>
    <script src="{% static 'almanak/js/components/offgame-time.js' %}" ></script>
    <script src="{% static 'almanak/js/components/gamemasters.js' %}" ></script>
    <script src="{% static 'almanak/js/components/rpg-sessions.js' %}" ></script>
    <script src="{% static 'almanak/js/components/player-characters.js' %}" ></script>
    {{ block.super }}
{% endblock %}
