{% extends "almanak/begivenhed.html" %}
{% load static %}


{% block content_relations %}


<gamemasters v-if="pageReady == true" >
</gamemasters>

<player-characters v-if="pageReady == true"></player-characters>
<participants v-if="pageReady == true" ></participants>


{% endblock	 %}

{% block content_relation_right %}
<rpg-sessions >
</rpg-sessions>

{% endblock %}



{% block javascript %}
	<script src="{% static 'almanak/js/components/ingame-now.js' %}" ></script>
	<script src="{% static 'almanak/js/components/offgame-time.js' %}" ></script>
	<script src="{% static 'almanak/js/components/gamemasters.js' %}" ></script>
	<script src="{% static 'almanak/js/components/rpg-sessions.js' %}" ></script>
	<script src="{% static 'almanak/js/components/player-characters.js' %}" ></script>
    {{ block.super }}
{% endblock %}
