{% extends "almanak/individ.html" %}
{% load static %}


{% block content_master_data %}

{{ block.super }}


<roleplayer v-if="pageReady == true" >
</roleplayer>

{% endblock %}






{% block javascript %}

<script src="{% static 'almanak/js/components/roleplayer.js' %}" ></script>

{{ block.super }}

{% endblock %}
