{% extends "almanak/gruppe.html" %}


{% block content_relations %}

<!-- <pre>[[ element.individuals_of_kin ]]</pre> -->
<!-- <p v-if="dataLoaded == true" >[[element.individuals_of_kin.length]] </p>
<p v-for="i in element.individuals_of_kin">
  <span >[[ i ]] - [[ i.present_name ]]</span>

</p> -->


{% endblock  %}
