{% extends "almanak/element.html" %}
{% load static %}



{% block content_relations %}

{{ block.super }}

<history v-if="pageReady == true"></history>


{% endblock %}

{% block javascript %}

<script src="{% static 'almanak/js/components/history.js' %}" ></script>

{{ block.super }}

{% endblock %}
