

<script type="text/x-template" id="create-new-element" >

  <div>
    <div v-if="show == true" class="shader--full-screen">
      <div class="alert--center">
        <!-- <span v-text=""></span> -->
        <strong @click="closeDialog()">&times;</strong>
        <h2>Create New Page</h2>
        <span v-text="test"></span>
        <span >[[ s ]]</span>

      </div>
    </div>
  </div>

</script>


<!-- If the user does not have the necessary permissions to view the Page -->
<div v-if="accessDenied == true" class="shader--full-screen">
  <div class="alert--center">
    <h3>Access Denied</h3>
    <h2>[[ accessDeniedMessage ]]</h2>
    <a class="rubrik" href="/accounts/profile">Go to Table of Contents</a>



  </div>

</div>


<!-- If the API cannot find an instance of a certain element, based on the type_grund field -->
<div v-if="notFound == true" class="shader--full-screen">
  <div class="alert--center">
    <h3>The page was not found</h3>
    <h2>[[ notFoundMessage ]]</h2>
    <a class="rubrik" href="/accounts/profile">Go to Table of Contents</a>

  </div>

</div>
