<div><b><a href="1840">Jagten på Hvide</a> / Encounter: Status på <a href="1432">kroen</a></b></div><div><br></div><b>PCernes baggrundsviden</b><br><div><div><b><br></b></div><div><b><a href="1399">Irmentrud</a></b></div>