h1 {
  color: blue; }

html, body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "centabel"; }

h3, h4, h1 {
  margin-bottom: 0.2em; }

p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: 0.3em; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  flex: 1; }

#tome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  background-image: url("images/page-shadow.svg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: 20px; }

.tome__page {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column; }

.page__header,
.page__footer {
  display: flex; }

.page__content {
  flex: 1;
  display: flex;
  overflow: auto;
  resize: none;
  margin-left: .7em;
  margin-right: .7em; }

.content__wrapper {
  flex-grow: 1;
  margin-left: .7em;
  margin-right: .7em; }

.page__header .content__wrapper {
  border-bottom: solid 2px #5A0700; }

.page__footer .content__wrapper {
  border-top: solid 2px #5A0700; }

/* ALERTS  */
.alert--full-screen {
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
  background: #fff; }

.shader--full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  overflow: auto; }

.alert--center {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
  padding: 3em; }

.typeahead__list {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
  padding: 1em;
  z-index: 150000;
  position: absolute; }

.box--border {
  border: 1px solid lightgray;
  padding: 1em; }

.icon--header {
  margin: 0.3em;
  height: 17px; }

.icon--breaker {
  text-align: center;
  width: 50%; }

.image--full {
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 2px;
  width: 1200px; }
  .image--full img.image--object {
    width: 100%; }

.wrapper--padding {
  padding: 2em; }

@media (max-width: 1200px) {
  .image--full {
    width: 100%; }
  .wrapper--padding {
    padding: 1em; } }

.rubrik {
  color: #5A0700; }

.ink {
  color: #20214C; }

.leaf {
  color: #004900; }

.ink--background {
  background-color: #20214C; }

.rubrik--background {
  background-color: #5A0700; }

.leaf--background {
  background-color: #004900; }

.faded {
  opacity: 0.5; }

.alert {
  width: 100%; }
  .alert a {
    font-weight: bold; }
  .alert.alert--success {
    color: #004900;
    background: rgba(0, 73, 0, 0.25); }
    .alert.alert--success a {
      color: #004900; }
  .alert.alert--warning {
    color: #928D00;
    background: rgba(146, 141, 0, 0.25); }
    .alert.alert--warning a {
      color: #928D00; }
  .alert.alert--danger {
    color: #5A0700;
    background: rgba(90, 7, 0, 0.25); }
    .alert.alert--danger a {
      color: #5A0700; }

ul.tome__list, ul.tome__list ul {
  list-style-type: "- ";
  padding-left: 1em;
  margin-top: 0.2em; }
  ul.tome__list li, ul.tome__list ul li {
    margin-bottom: 0.3em; }

/* Cursors */
.cursor--pointer {
  cursor: pointer; }

/* Animationer til links */
@keyframes ink-blot {
  0% {
    text-shadow: 0px 0px 1px #9090a6; }
  100% {
    text-shadow: 0px 0px 15px #414267; } }

@keyframes rubrik-blot {
  0% {
    text-shadow: 0px 0px 1px #decdcc; }
  100% {
    text-shadow: 0px 0px 15px #732c26; } }

a:active, a:focus {
  outline: none; }

a {
  text-decoration: none; }

/* Ink/Rubrik Links  */
a.rubrik, .rubrik a,
.rubrik.ini-beskrivelse-manchet,
.rubrik.ini-beskrivelse-fuld {
  text-decoration: none; }
  a.rubrik:link, .rubrik a:link,
  .rubrik.ini-beskrivelse-manchet:link,
  .rubrik.ini-beskrivelse-fuld:link {
    color: #5A0700;
    text-decoration: none; }
  a.rubrik:visited, .rubrik a:visited,
  .rubrik.ini-beskrivelse-manchet:visited,
  .rubrik.ini-beskrivelse-fuld:visited {
    color: #5A0700;
    text-decoration: none; }
  a.rubrik:active, .rubrik a:active,
  .rubrik.ini-beskrivelse-manchet:active,
  .rubrik.ini-beskrivelse-fuld:active {
    color: #5A0700;
    text-decoration: none;
    outline: none; }
  a.rubrik:hover, .rubrik a:hover,
  .rubrik.ini-beskrivelse-manchet:hover,
  .rubrik.ini-beskrivelse-fuld:hover {
    color: #5A0700;
    text-decoration: none;
    animation: rubrik-blot 1s 1;
    text-shadow: 0px 2px 15px #732c26; }

a.ink:link, .ink a:link,
.ink.ini-beskrivelse-manchet:link,
.ink.ini-beskrivelse-fuld:link {
  color: #20214C;
  text-decoration: none; }

a.ink:visited, .ink a:visited,
.ink.ini-beskrivelse-manchet:visited,
.ink.ini-beskrivelse-fuld:visited {
  color: #20214C;
  text-decoration: none; }

a.ink:active, .ink a:active,
.ink.ini-beskrivelse-manchet:active,
.ink.ini-beskrivelse-fuld:active {
  color: #20214C;
  text-decoration: none;
  outline: none; }

a.ink:hover, .ink a:hover,
.ink.ini-beskrivelse-manchet:hover,
.ink.ini-beskrivelse-fuld:hover {
  color: #20214C;
  text-decoration: none;
  animation: ink-blot 1s 1;
  text-shadow: 0px 0px 15px #414267; }

/* Beskriverlser - Highlight fra links i beskrivelser */
.fuld_tekst_holder .rubrik a {
  text-shadow: 0px 0px 1px #9c6a66; }

.fuld_tekst_holder .ink a {
  text-shadow: 0px 0px 1px #797a94; }

.fuld_tekst_holder .rubrik a.ink {
  text-shadow: 0px 0px 1px #9c6a66; }

.fuld_tekst_holder .ink a.rubrik {
  text-shadow: 0px 0px 1px #797a94; }

.beskrivelse .rubrik a {
  text-shadow: 0px 0px 1px #9c6a66; }

.beskrivelse .ink a {
  text-shadow: 0px 0px 1px #797a94; }

.beskrivelse .rubrik a.ink {
  text-shadow: 0px 0px 1px #9c6a66; }

.beskrivelse .ink a.rubrik {
  text-shadow: 0px 0px 1px #797a94; }

.input--narrow {
  width: 50px; }

.input--narrow-height {
  height: 20px; }

.ajax__update-text {
  color: lightgray;
  font-weight: bold; }

.form--login-form input {
  border: 1px #000 solid; }

/* Animation keyframes - you need to add prefixes */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Loading animation container */
.loading {
  /*position: absolute;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;*/ }

/* Spinning circle (inner circle) */
.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid #5A0700; }

/* Spinning circle mask */
.loading .mask {
  width: 12px;
  height: 12px;
  overflow: hidden; }

/* Spinner */
.loading .spinner {
  /*position: absolute;
	left: 1px;
	top: 1px;*/
  width: 26px;
  height: 26px;
  animation: spin 1s infinite linear; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.btn-news {
  width: 75px;
  margin-left: 3px;
  margin-bottom: 3px; }

@font-face {
  font-family: "centabel";
  src: url("fonts/centabel/centabel.eot");
  src: url("fonts/centabel/centabel.eot") format("embedded-opentype"), url("fonts/centabel/centabel.woff") format("woff"), url("fonts/centabel/centabel.ttf") format("truetype"), url("fonts/centabel/centabel.svg#CentabelBook") format("svg");
  font-weight: 400; }

@font-face {
  font-family: "eileencaps";
  src: url("fonts/eileen/EileenCaps-Black.eot?#iefix") format("embedded-opentype"), url("fonts/eileen/EileenCaps-Black.woff") format("woff"), url("fonts/eileen/EileenCaps-Black.ttf") format("truetype"), url("fonts/eileen/EileenCaps-Black.svg#EileenCaps-Black") format("svg"); }

h4, h5 {
  margin-bottom: 0.2em; }

.table__skillcategory {
  width: 100%; }
  .table__skillcategory td, .table__skillcategory th {
    border: 1px gray solid; }
  .table__skillcategory td.skill__num-rank, .table__skillcategory th.skill__num-rank {
    width: 36px; }
    .table__skillcategory td.skill__num-rank input, .table__skillcategory th.skill__num-rank input {
      width: 30px;
      text-align: center; }
  .table__skillcategory td.ranks--valid {
    border-color: #004900; }
  .table__skillcategory td.ranks--invalid {
    border-color: #5A0700; }
  .table__skillcategory th.skill__category {
    background: gray;
    color: white; }
  .table__skillcategory th.skill_name, .table__skillcategory td.skill_name {
    width: 25%; }
  .table__skillcategory input.ranks--valid {
    border: green 2px solid; }
  .table__skillcategory input.ranks--invalid {
    border: red 2px solid; }
  .table__skillcategory input.ranks--zero {
    border: gray 2px solid; }
  .table__skillcategory .skill__cost-input {
    width: 30px; }
  .table__skillcategory .num-ranks--similar {
    background: #928d00; }
  .table__skillcategory .table-cell--emphasis {
    text-align: center;
    font-weight: bold;
    font-size: 2em; }

.dev__accounting {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20000;
  background-color: #fff; }

.tooltip {
  display: block !important;
  z-index: 200000; }

.tooltip .tooltip-inner {
  background: #5A0700;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px; }

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black; }

.tooltip[x-placement^="top"] {
  margin-bottom: 5px; }

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0; }

.tooltip[x-placement^="bottom"] {
  margin-top: 5px; }

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0; }

.tooltip[x-placement^="right"] {
  margin-left: 5px; }

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0; }

.tooltip[x-placement^="left"] {
  margin-right: 5px; }

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0; }

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s; }

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s; }

.beskrivelse-meta {
  /*
	width:100px;
	border-left: 1px solid fadeout(@rubrik,75%);

	float:right;
	text-align:left;
	padding:3px 13px 2px 5px;

	*/ }

.relevans-boks {
  width: 35px;
  float: right;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: none; }

.relevans-input {
  width: 30px;
  display: none;
  text-align: center; }

.relevans-pil {
  cursor: pointer;
  width: 1em; }

.irrelevant_bes {
  opacity: 0.5; }

.css-hemmelig {
  text-decoration: line-through; }

.list--beskrivelser {
  display: flex;
  flex-direction: row; }
  .list--beskrivelser .column {
    flex: 1; }

.beskrivelse {
  flex-wrap: wrap;
  line-height: 1em;
  margin-bottom: 1em;
  overflow: auto;
  padding-bottom: 0.2em;
  text-align: justify; }
  .beskrivelse .beskrivelse__options {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .beskrivelse .beskrivelse__footer {
    display: flex;
    flex-direction: row;
    font-style: italic; }
    .beskrivelse .beskrivelse__footer div {
      flex: 1; }
  .beskrivelse .initial {
    font-size: 5em;
    line-height: 0.95;
    float: left;
    display: block;
    cursor: pointer;
    font-family: "eileencaps"; }
  .beskrivelse .rest {
    display: inline;
    margin-left: -0.35em;
    font-size: 1.1em; }

.rubrik .initial:hover {
  animation: rubrik-blot 1s 1;
  text-shadow: 0px 2px 10px multiply(#5A0700, #fff); }

.ink .initial:hover {
  animation: ink-blot 1s 1;
  text-shadow: 0px 2px 10px multiply(#20214C, #fff); }

.beskrivelse__options {
  float: right;
  text-align: right;
  padding: 0 0 0.2em 0.5em; }

.beskrivelse__editor {
  text-align: left;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: fixed;
  z-index: 100000;
  top: 50px;
  bottom: 45px;
  left: 50.5%;
  right: 1%;
  border: #B7937B 1px solid;
  box-shadow: 0px 0px 15px 55px #fff; }

.editor__top-row {
  display: flex; }
  .editor__top-row .editor__close {
    flex-grow: 1; }

.editor__bottom-row {
  align-self: flex-end;
  width: 100%; }

.beskrivelse__wysiwyg {
  padding: 0.5em;
  border: brown 1px solid;
  overflow-y: scroll;
  height: 300px; }
  .beskrivelse__wysiwyg a {
    text-shadow: black 0 0 0.3em;
    color: black; }

.beskrivelse--link-chooser {
  padding: 1em;
  border: 1px brown solid; }

.beskrivelse__link-tags {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap; }
  .beskrivelse__link-tags li {
    padding: 0.3em;
    margin: 0.2em;
    border-radius: 0.5em; }
    .beskrivelse__link-tags li a {
      color: #fff; }
    .beskrivelse__link-tags li button {
      padding: 0.5em;
      border: none; }
  .beskrivelse__link-tags input {
    width: 30px;
    background-color: #fff; }

#toolbar {
  margin-bottom: 1em; }
  #toolbar button {
    margin-right: .5em;
    background: transparent;
    border: 1px solid #5A0700; }

input[disabled], select[disabled] {
  background: #E8E8E8;
  color: #797979; }

.btn-hemmelig, .btn-offentlig {
  line-height: 20px; }

.btn-hemmelig--active, .btn-offentlig--active {
  color: #fff;
  border: none; }

.beskrivelse-meta {
  /*
	width:100px;
	border-left: 1px solid fadeout(@rubrik,75%);

	float:right;
	text-align:left;
	padding:3px 13px 2px 5px;

	*/ }

.relevans-boks {
  width: 35px;
  float: right;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: none; }

.relevans-input {
  width: 30px;
  display: none;
  text-align: center; }

.relevans-pil {
  cursor: pointer;
  width: 1em; }

.irrelevant_bes {
  opacity: 0.5; }

.css-hemmelig {
  text-decoration: line-through; }

.list--beskrivelser {
  display: flex;
  flex-direction: row; }
  .list--beskrivelser .column {
    flex: 1; }

.beskrivelse {
  flex-wrap: wrap;
  line-height: 1em;
  margin-bottom: 1em;
  overflow: auto;
  padding-bottom: 0.2em;
  text-align: justify; }
  .beskrivelse .beskrivelse__options {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .beskrivelse .beskrivelse__footer {
    display: flex;
    flex-direction: row;
    font-style: italic; }
    .beskrivelse .beskrivelse__footer div {
      flex: 1; }
  .beskrivelse .initial {
    font-size: 5em;
    line-height: 0.95;
    float: left;
    display: block;
    cursor: pointer;
    font-family: "eileencaps"; }
  .beskrivelse .rest {
    display: inline;
    margin-left: -0.35em;
    font-size: 1.1em; }

.rubrik .initial:hover {
  animation: rubrik-blot 1s 1;
  text-shadow: 0px 2px 10px multiply(#5A0700, #fff); }

.ink .initial:hover {
  animation: ink-blot 1s 1;
  text-shadow: 0px 2px 10px multiply(#20214C, #fff); }

.beskrivelse__options {
  float: right;
  text-align: right;
  padding: 0 0 0.2em 0.5em; }

.editor__top-row {
  display: flex; }
  .editor__top-row .editor__close {
    flex-grow: 1; }

.editor__bottom-row {
  align-self: flex-end;
  width: 100%; }

.beskrivelse__wysiwyg {
  padding: 0.5em;
  border: brown 1px solid;
  overflow-y: scroll;
  height: 300px; }
  .beskrivelse__wysiwyg a {
    text-shadow: black 0 0 0.3em;
    color: black; }

.beskrivelse--link-chooser {
  padding: 1em;
  border: 1px brown solid; }

.beskrivelse__link-tags {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap; }
  .beskrivelse__link-tags li {
    min-height: 30px;
    padding: 0.3em;
    margin: 0.2em;
    border-radius: 0.5em; }
    .beskrivelse__link-tags li a {
      color: #fff; }
    .beskrivelse__link-tags li button {
      padding: 0.5em;
      border: none; }
  .beskrivelse__link-tags input {
    width: 30px;
    background-color: #fff; }

@media (max-width: 992px) {
  .beskrivelse__editor {
    left: 1%; } }

#toolbar {
  margin-bottom: 1em; }
  #toolbar button {
    margin-right: .5em;
    background: transparent;
    border: 1px solid #5A0700; }

input[disabled], select[disabled] {
  background: #E8E8E8;
  color: #797979; }

.btn-hemmelig--active, .btn-offentlig--active {
  color: #fff;
  border: none; }

.btn-hemmelig, .btn-offentlig {
  line-height: 20px; }

.btn-offgame {
  border: 1px solid #5A0700;
  background-color: #fff;
  color: #5A0700; }

.btn-offgame--active {
  background-color: #5A0700;
  color: #fff; }

.btn-ingame {
  border: 1px solid #20214C;
  background-color: #fff;
  color: #20214C; }

.btn-ingame--active {
  background-color: #20214C;
  color: #fff; }
