{% extends 'book.html' %}
{% load static %}


{% block page_title %}
{{ object.content|striptags|slice:":60" }}... @
{% endblock %}

{% block content_left %}

<overlay v-if="$store.state.description.id" style="margin-top: 3.3em;">
    <description-full :id="$store.state.description.id"></description-full>
</overlay>

{% endblock %}



{% block javascript %}

<script src="{% static 'almanak/js/components/description/description-show.js' %}" ></script>
<script src="{% static 'almanak/js/components/description/description-full.js' %}" ></script>

{{ block.super }}
{% endblock %}