{% extends 'book.html' %}
{% load static %}


{% block page_title %}
{{ object.title }} @
{% endblock %}

{% block content_left %}

<overlay v-if="$store.state.description.id" style="margin-top: 3.3em;">
    <image-full :id="$store.state.description.id"></image-full>
</overlay>

{% endblock %}



{% block javascript %}

<script src="{% static 'almanak/js/components/description/description-show.js' %}" ></script>
<script src="{% static 'almanak/js/components/description/image-full.js' %}" ></script>

{{ block.super }}
{% endblock %}