{% extends "book.html" %}
{% load static %}

{% block content_left %}
 
    <h1>{{ otheruser.first_name }} {{ otheruser.last_name }}</h1>
    <p>Descriptions {{ otheruser.authored_descriptions.count }}</p>
    <p>Pages {{ otheruser.authored_elements.count }}</p>
    <p>Player Characters {{ otheruser.player_characters.count }}: 
        {% for pc in otheruser.player_characters.get_queryset  %}
            {{ pc.names.first.name }},
        {% endfor %}

    </p>
    <p>Gamemaster for {{ otheruser.gamemaster_for.count }} sessions and campaigns</p>


    <user-activity-chart></user-activity-chart>

{% endblock %}



{% block javascript %}
    <script src="{% static 'almanak/js/components/user/user-activity-chart.js' %}"></script>
    {{ block.super }}

{% endblock %}