{% extends 'book.html' %}
{% load static %}


{% block page_title %}

	{{ user.first_name }} {{ user.last_name }} @

{% endblock %}




{% block content_left %}
	<welcome></welcome>
	
	<user-details></user-details>
{% endblock %}

{% block content_right %}
	<news-list></news-list>
	
{% endblock %}



{% block javascript %}

	<script src="/static/almanak/js/components/user/welcome.js" ></script>
	<script src="/static/almanak/js/components/user/user-details.js" ></script>
	<script src="/static/almanak/js/components/misc/news-list.js" ></script>

	{{ block.super }}

{% endblock %}
