{% extends 'book.html' %}
{% load static %}



{% block content_left %}
<div style="display: grid;align-content: center;" >
	<bestiary></bestiary>
</div>

{% endblock %}

{% block content_right %}
<div class="column column--content">
	<campaign-headline ></campaign-headline>
	<div>
		<rpg-session-administration></rpg-session-administration>
	</div>


	<div> 
		
		<news-list></news-list>

	</div>
</div>


{% endblock %}


{% block javascript %}
	<script src="/static/almanak/js/components/toc/campaign-headline.js" ></script>
	<script src="/static/almanak/js/components/toc/bestiary.js" ></script>
	<script src="/static/almanak/js/components/misc/news-list.js" ></script>
	<script src="/static/almanak/js/components/rpg-session/rpg-session-administration.js" ></script>


	{{ block.super }}

{% endblock %}
