{% extends "book.html" %}
{% load static %}


{% block page_title %}
  Page Removed
{% endblock %}



{% block javascript %}
  <input type="hidden" id="element-deleted" value="1" />
  {{ block.super }}
{% endblock %}


{% block popups %}

<overlay style="text-align:center" >
    <h3 class="rubrik">Page Removed</h3>
    <h2 class="rubrik">Page number {{ element.id }} has been removed from the bestiary <br/><br/><span class="ink">{{ element.universe.name }}</span></h2>
	<h3 class="rubrik">{{ element.names.first.name }}</h3>
	<br/><br/>
    <a class="rubrik" href="/accounts/profile">Go to Table of Contents</a>

  </div>

</overlay>

{% endblock %}
