{% extends "base.html" %}


{% block test %}
{% endblock %}


{% block error %}
<div class="base-layer--paper-sheet">
	<div class="border--padding ">
		<div class="border--content">
			<h1 class="rubrik" >Wrong Bestiary</h1>
			<p>This page does not belong to the Bestiaty in which you are currently logged into</p>
			<a href="/accounts/profile"><button>Go to Table Of Content</button></a>	
			{% if user in element.universe.users.get_queryset  %}
				<p>Though you are a member of this Bestiary, which is called {{ element.universe.name }}</p>
				<p>To watch this page you can logout and then log into {{ element.universe.name }}</p>
			{% endif %}
				<a href="/logout"><button>Log Out</button></a>

		</div>
	</div>
</div>


{% endblock %}



{% block javascript %}

{% endblock %}

