
.ql-editor::selection {
    background: #000;
    color: #fff;
}

.ql-tooltip {
    &:before {
        content: "";
    }

    .ql-action, .ql-preview {
        display: none;
    }

}

    
.ql-snow .ql-editor a {
    text-shadow: black 0 0 0.3em;

    text-decoration: none;

}

.ql-snow a {
    color: black;
//        color: #06c;
}


.ql-editor--in_game {
    color: $ink;

    a:link {
        color: $ink;
		text-shadow: $ink 0 0 0.3em;
	}

}

.ql-editor--off_game {
    color: $rubrik;
    
    a:link {
        color: $rubrik;
		text-shadow: $rubrik 0 0 0.3em;
	}

}