{% extends "book.html" %}
{% load static %}

{% block page_title %}
{{ element.names.first.name }} @
{% endblock %}

{% block api_endpoints %}
	{{ block.super }}
	<input type="hidden" id="type-grund" value="{{ element.type_grund }}">

{% endblock %}

{% block popups %}

	<element-permission v-if="$store.state.element.permissions.write === true && $store.state.element.permissions.showEditPermissions === true" ></element-permission>
{% endblock %}


{% block header_right %}
	<div style="flex:1;align-items: flex-end;">
		<ingame-status></ingame-status>
	</div>
	<div style="display:flex;flex-direction: row-reverse">
		<description-filter></description-filter>
		<span>&nbsp;in&nbsp;</span>
		<descriptions-search></descriptions-search>
	</div>				
{% endblock %}

{% block content_left %}

	<section class="column--content">
		<names></names>
		<masterdata></masterdata>
	</section>
	<section class="column--content">

	</section>		

{% endblock %}

{% block content_right %}

	<descriptions-of-element></descriptions-of-element>

	<!-- <description-full v-if="this.$store.state.generic.ui.descriptionFull"  ></description-full> -->

{% endblock %}

{% block footer_left %}


	<element-meta-data></element-meta-data>

{% endblock %}


{% block error %}

{% endblock %}







{% block javascript %}


	<script src="/static/almanak/js/components/element/masterdata.js" ></script>
	<script src="/static/almanak/js/components/element/element-meta-data.js" ></script>
	<script src="/static/almanak/js/components/element/element-permission.js" ></script>


	<script src="/static/almanak/js/components/description/descriptions-of-element.js" ></script>
	<script src="/static/almanak/js/components/description/description-show.js" ></script>
	<script src="/static/almanak/js/components/description/descriptions-search.js" ></script>	
	<script src="/static/almanak/js/components/description/description-filter.js" ></script>	
	<script src="/static/almanak/js/components/description/description-relevance.js" ></script>
	<script src="/static/almanak/js/components/error/description-error-check.js" ></script>	
	<script src="/static/almanak/js/components/description/image-show.js" ></script>
	<script src="/static/almanak/js/components/element/names/names.js" ></script>
	<script src="/static/almanak/js/components/element/names/edit-name.js" ></script>
	<script src="/static/almanak/js/components/element/time/edit-ingame-time.js" ></script>

	<script src="/static/almanak/js/components/element/relation/owned-by.js" ></script>



{{ block.super }}
{% endblock %}
