{% extends "almanak/element/element.html" %}
{% load static %}


{% block content_left %}
<section class="column--content">
	<names></names>
	<masterdata></masterdata>
    <element-relations></element-relations>

</section>
<section class="column--content">

</section>	


<!-- <titles v-if="canReadElement == true" ></titles> -->


{% endblock %}


{% block javascript %}

<script src="/static/almanak/js/components/element/relation/element-relations.js" ></script>

{{ block.super }}
{% endblock %}