{% extends "almanak/element/element.html" %}
{% load static %}


{% block content_left %}
<section class="column--content">
	<names></names>
	<masterdata></masterdata>
	<gender></gender>
	<family-relations v-if="canReadElement == true" ></family-relations>
	<experiences v-if="canReadElement == true" ></experiences>

</section>
<section class="column--content">
	<owner-of v-if="canReadElement == true" ></owner-of>
	<group-memberships v-if="canReadElement == true" ></group-memberships>

</section>	


<!-- <titles v-if="canReadElement == true" ></titles> -->


{% endblock %}





{% block javascript %}
<script src="/static/almanak/js/components/individ/gender.js" ></script>
<script src="/static/almanak/js/components/individ/family-relations.js" ></script>
<script src="/static/almanak/js/components/element/relation/group-memberships.js" ></script>
<script src="/static/almanak/js/components/element/relation/owner-of.js" ></script>
<script src="/static/almanak/js/components/individ/experiences.js" ></script>
<!-- <script src="/static/almanak/js/components/element/relation/titles.js" ></script> -->
<script src="/static/almanak/js/components/individ/family-tree.js" ></script>
<script src="/static/almanak/js/components/individ/family-tree/descendants.js" ></script>
<script src="/static/almanak/js/models/individual.js" ></script>

{{ block.super }}
{% endblock %}
