{% extends "almanak/element/element.html" %}
{% load static %}



{% block content_left %}
{{ block.super }}

    <element-relations v-if="canReadElement == true" ></element-relations>



{% endblock %}




{% block javascript %}

<script src="/static/almanak/js/components/element/relation/element-relations.js" ></script>	

{{ block.super }}
{% endblock %}