{% load static %}
<!DOCTYPE html>
<html lang="en">
	  <head>

		<meta charset="utf-8">
		<title>RPG Management - Colaborative World Building - Bestiaries.org</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'almanak/style.css' %}"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'almanak/styleguide/style.css' %}" />
		<script src="{% static 'almanak/js/lib/vue.js' %}"></script>
		<script src="{% static 'almanak/js/lib/axios.min.js' %}"></script>

	</head>
	<body>

		<div class="border--padding display--grid" >
			<div class="border--content display--grid grid--1column-middle">
				<div style="text-align: center">
					<p class="rubrik"><strong>welcome to</strong></p>
					<h1 class="ink">Bestiaries.org</h1>


					<form method="post" action="/login/" class="form--login">
						{% csrf_token %}
						<!-- <div></div> -->
						login nu!
						<div class="login__inputs">
							<div>
								{{ form.username.label_tag }}<br/>
								{{ form.username }}
							</div>

							<div>
								{{ form.password.label_tag }}<br/>
								{{ form.password }}
							</div>
							<br />
							<div>
								<input type="submit" value="login" />
							</div>
						</div>

					</form>

					<div>
						<a class="rubrik" href="/almanak/about/">About</a>
					</div>

				</div>
			</div>
		</div>

  </body>
</html>
