{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
			<title>
				{% block page_title %} {{ individual }} {% endblock %}

				{% if request.session.universe_name %}
					{{ request.session.universe_name  }}
				{% endif %}
			</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

		<link rel="stylesheet" type="text/css" href="{% static 'almanak/style.css' %}">


		<script src="{% static 'almanak/js/lib/vue.js' %}"></script>
		<script src="{% static 'almanak/js/lib/vuex.min.js' %}"></script>

		<script src="{% static 'almanak/js/lib/axios.min.js' %}"></script>
		<script src="{% static 'almanak/js/lib/axios.min.js' %}"></script>
		<script src="{% static 'almanak/js/lib/lodash.js' %}"></script>
	</head>

	<body>
		<input type="hidden" id="individual-id" value="{{ individual.id }}">
		<input type="hidden" id="author-id" value="{{ individual.author.id }}">
		<input type="hidden" id="kin-id" value="{{ individual.kin.id }}">


		<input type="hidden" id="character-level" value="{{ rm_character.level }}">
		<input type="hidden" id="character-id" value="{{ rm_character.id }}">
		<input type="hidden" id="universe-id" value="{{ request.session.universe_current }}">
		<input type="hidden" id="campaign-id" value="{{ request.session.campaign_current }}">
		<input type="hidden" id="role-id" value="{{ request.session.role_current }}">







		{% if not rm_character %}
			<p>No Rolemaster Character Created Yet</p>
			<div id="rm-charactersheet">

				<create-rm-character></create-rm-character>

			</div>
		{% else  %}

			<div id="rm-charactersheet">

				<page-loading v-if="$store.state.loaded.stats == false" text="ROLEMASTER<br/>CHARACTER SHEET<br/>IS LOADING" >
				</page-loading>
				<generate-pdf v-if="$store.state.loaded.stats == true"></generate-pdf>
				<skillrow-details v-if="$store.state.loaded.skillrowDetails != false"></skillrow-details>
				<div style="display:flex">

					<h1 >CharacterSheet -
						{{ individual.names.first.name }}
					</h1>
					<div style="flex:1">
						<level></level>
						<experience-points v-if="$store.state.loaded.stats == true"></experience-points>
					</div>
				</div>
				<p>Author: {{ individual.author.first_name }} {{ individual.author.last_name }}</p>
				{% if individual.roleplayer %}
					<p>Roleplayer: {{ individual.roleplayer.first_name }} {{ individual.roleplayer.last_name }} </p>
				{% endif %}
				<race></race>
				<profession></profession>
				<div style="display:flex">

					<stats v-if="$store.state.loaded.stats == true" ></stats>
					<concussion-hits v-if="$store.state.loaded.skills == true" ></concussion-hits>
				</div>

				<br/>
				<page-loading v-if="$store.state.loaded.stats == true && $store.state.loaded.skills == false" text="SKILLS ARE LOADING" >
				</page-loading>
				<skills v-if="$store.state.loaded.skills == true"> </skills>
			</div>
		{% endif %}

			<script>
				var characterId = document.getElementById("character-id").value;
				var characterLevel = document.getElementById("character-level").value;
				var universeId = document.getElementById("universe-id").value;
				var campaignId = document.getElementById("campaign-id").value;
				var roleId = document.getElementById("role-id").value;

				var kinId = document.getElementById("kin-id").value;

				var individualId = document.getElementById("individual-id").value;
				var authorId = document.getElementById("author-id").value;

			</script>

		<script src="{% static 'rolemaster/js/components/concussion-hits.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/create-rm-character.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/experience-points.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/generate-pdf.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/profession.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/level.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/race.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/skillrow.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/skillrow-details.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/skill.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/skills.js' %}" ></script>
		<script src="{% static 'rolemaster/js/components/stats.js' %}" ></script>
		<script src="{% static 'almanak/js/components/page-loading.js' %}" ></script>
		<script src="{% static 'rolemaster/js/store.js' %}" ></script>
	    <script src="{% static 'rolemaster/js/init.js' %}" ></script>




	 </body>



</html>
