.ql-editor::-moz-selection {
  background: #000;
  color: #fff;
}

.ql-editor::selection {
  background: #000;
  color: #fff;
}

.ql-tooltip:before {
  content: "";
}

.ql-tooltip .ql-action, .ql-tooltip .ql-preview {
  display: none;
}

.ql-snow .ql-editor a {
  text-shadow: black 0 0 0.3em;
  text-decoration: none;
}

.ql-snow a {
  color: black;
}

.ql-editor--in_game {
  color: #20214C;
}

.ql-editor--in_game a:link {
  color: #20214C;
  text-shadow: #20214C 0 0 0.3em;
}

.ql-editor--off_game {
  color: #5A0700;
}

.ql-editor--off_game a:link {
  color: #5A0700;
  text-shadow: #5A0700 0 0 0.3em;
}
/*# sourceMappingURL=quill.bestiaries.css.map */