.alert{


	width:100%;

	a {
		font-weight: bold;
	}

	&.alert--success {
		color:$leaf;
		background: transparentize($leaf, 0.75);

		a { color:$leaf; }
	}

	&.alert--warning {
		color:$turmeric;
		background: transparentize($turmeric, 0.75);

		a { color:$turmeric; }

	}

	&.alert--danger {
		color:$rubrik;
		background: transparentize($rubrik, 0.75);

		a { color:$rubrik; }
		//background: red;

	}




}