// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

.fade-enter-active {
	transition: opacity .75s
}

.fade-enter,
.fade-leave-active {
	opacity: 0
}


.fade-slide-enter-active {

	animation: fadeAni .4s;

	& > div {
		animation: slideAni .8s ;
	}

}

.fade-slide-leave-active {

	animation: fadeAni .4s reverse;

	& > div {
		animation: slideAni .5s reverse;
	}
}

.autocomplete-enter-active {

	animation: bounce-in .6s;

}

.autocomplete-leave-active {

	animation: bounce-out .3s;

}

@keyframes bounce-in {

	0% {
		transform: scale(0.9); 
		opacity: 0;
	}
	100% {
		transform: scale(1); 
		opacity: 1;
	}


}


@keyframes bounce-out {

	0% {
		transform: scale(1); 
		opacity: 1;
	}
	100% {
		transform: scale(.9); 
		opacity: 0;
	}

}

@keyframes slideAni {

	0% {
		transform: translateY(-100%)
	}
	100% {
		transform: translateY(0%)
	}


}



.inkblot-enter-active, .inkblot-leave-active {
  transition: text-shadow 5s;
}
.inkblot-enter, .inkblot-leave-to /* .inkblot-leave-active below version 2.1.8 */ {
  text-shadow: 2x 2px 20px black;
}


.go-ingame__role-card {
	transition: background-color .75s, color .75s;
	cursor: default;

	span, span:hover {
		cursor: default;
	}



}

.go-ingame__role-card:hover {

	color: white;
	background-color: $ink;
	cursor: default;

	span, span:hover	{
		cursor: default;
		color: white
	}

}



button, input[type=submit] {
	transition: all 0.3s ease-in;
}


@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s; 
}