button, input[type=submit] {
	border: transparentize($rubrik, 0.6) 5px double;
	background-color: #fff;
	padding: 0.5em;
	color:transparentize($rubrik, 0.2);
	margin: .1em;

	&:hover {
		background-color: transparentize($rubrik, 0.5);
		color: #fff;
	}

	&:disabled {
		opacity: 0.5;
	}
	&:disabled:hover {
		background-color:$paper;
		color:transparentize($rubrik, 0.2);
	}
}

button.button--text-large {
	font-size: 125%;
}

button.button--small {
	font-size: 75%;
	margin: 1px 0 0 0;
	padding: 1px 4px 1px 4px;
	border: transparentize($rubrik, 0.6) 1px solid;
}

button.button--close-modal {
	font-size: 75%;
	margin-top: 1px;
	padding: 0px 6px 3px 6px;
	border: transparentize($rubrik, 0.6) 1px solid;
	line-height: 1;
}


button.button--ink {
	border-color: $ink;
	color: $ink;

	&.button--active {
		color: #fff;
		background-color: transparentize($ink, 0.5);
	}

	&:hover {
		background-color: transparentize($ink, 0.5);
		color: #fff;
	}	
} 

button.button--rubrik {


	&.button--active {
		color: #fff;
		background-color: transparentize($rubrik, 0.5);	
	}	
} 