
.description {
	overflow:auto;

	&--short {
		text-align: justify;
	}

	&--secret {
		text-decoration: line-through;
	}

	&--irrelevant.rubrik  {
		color: transparentize($rubrik, 0.75);

	}

	&--irrelevant.ink  {
		color:  transparentize($ink, 0.75);

	}

	&--full {
		font-size: 1.7rem;
		p {
			font-size: 1.7rem;			
		}
	}
	
}

.description--image {
//	width:100%;
	padding: 0.6em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;	
	img {
		grid-column: 1 / 2;
		grid-row: 1 / 2;			
		width:100%;
	}
	div {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		z-index: 20;		
		div {
			float:right;
			display: flex;
			flex-direction: column;
			text-align: center;
			padding:0.2em;
			background: $paper;		
		}
	}
}

.description--text {
	article	 {
		padding: 0.6em;

		&::first-letter {
			font-family:"eileencaps";
			font-weight: normal;
			float:left;
			font-size:3em;
			color: inherit;
			//margin-top:7px;
			margin-right:5px;
			padding:0.05em;
			margin-bottom: .05em;
			margin-right: .05em;
			border: double 10px;

		}
		&.rubrik:first-letter {
			border-color: $rubrik;
		}
		&.ink:first-letter {
			border-color: $ink;	
		}
		&.description--irrelevant.rubrik:first-letter {
			border-color: transparentize($rubrik, 0.75);
		}
		&.description--irrelevant.ink:first-letter {
			border-color: transparentize($ink, 0.75);	
		}

		div {
			display: inline;
		}
	}

}


.element {

	&--irrelevant, 
	&--irrelevant a:link,
	&--irrelevant a:visited,
	&--irrelevant a:active,
	&--irrelevant a:hover			
	{
		color: transparentize($ink, 0.75);
	}
}

.editor.editor--description {
	background-color:red;
	grid-column: span 2;
	grid-row: span 2;	
}



