.ql-bslink:after {
    content: "\1F50D";
}

.base-layer--paper-sheet > div.description-editor {

    &--no-padding {
        padding: 0em;
    }    

}

input[type=checkbox] {
	margin-top: 0;
	margin-bottom: 0;
//	line-height: 1;
}

.description-editor {

	h3 {
		margin-top: 0; 
	}


	grid-column-start: 1;
	grid-column-end: 3; 
	grid-row-start: 1;
	grid-row-end: 5;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	//grid-gap: 2em; 
	display: grid;

	&__status {
        padding: 1em;
		grid-column-start: 1;
		grid-column-end: 3; 
		grid-row-start: 1;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

	&__main {
		overflow: auto;
		//background-color: red;
		grid-column-start: 1;
		grid-column-end: 3; 
		grid-row-start: 2;
		grid-row-end: 3;	

		display: grid;
		// grid-template-columns: 1fr 1fr;
		//grid-auto-flow: row;
		//		grid-template-rows: auto;
		grid-template-rows: auto 1fr;
		grid-template-columns: repeat(2, minmax(500px, 1fr));// repeat(auto-fit, minmax(500px,);

		@media (max-width: 1000px) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			
		}
		//grid-template-rows: minmax(150px, auto);

	}
	// &__content {
    //     padding-left: 1em;
	// 	//background: green;
	// 	grid-column-start: 1;
	// 	grid-column-end: 2; 
	// 	grid-row-start: 2;
	// 	grid-row-end: 3;		
	// }

	// &__relations {
	// 	grid-column-start: 2;
	// 	grid-column-end: 3; 
	// 	grid-row-start: 2;
	// 	grid-row-end: 3;
    //     display: grid;
	// 	grid-template-columns: 1fr 1fr;
	// 	grid-column-gap: 1em;
		
	// }

	// &__relations--overlay {
	// 	z-index: 100;
	// 	background:transparentize(#fff, 0.2);
	// 	display: grid;
	// 	grid-template-columns: 1fr 1fr;
	// 	grid-template-rows: 1fr 1fr;		
	// 	color: $rubrik;


	// }

	// &__overlay-message {
	// 	align-self: stretch;
	// 	text-align: center;
	// 	//justify-self: center;
	// 	//padding: 3em;
	// 	//border: $rubrik double 10px;
	// 	//background: $paper;
	// }
}


.description-editor {
    
    &__status {
        
        &--success {
            background: mix($leaf,$paper,20%);
            color: $leaf;
        } 
    
        &--warning {
            background: mix($turmeric,$paper,20%);
            color: $turmeric;
        }

        &--error {
            background: mix($rubrik,$paper,20%);
            color: $leaf;
        }


	}
	
	&__element-relation {
		color: #fff;
		display: inline-flex;
		align-items: center;
		margin-right: 0.4em;
		padding:0.3em;
		input {
			display: inline-block;
			width: 40px;
			text-align: center;
			font-size: 0.8em;
			border: 1px grey solid;

		}

		&--ink {
			background: $ink;
		}

		&--rubrik {
			background: $rubrik;			
		}

		.popup-element.ink, .popup-element.rubrik {
			color: #fff;
		}

		&-icon {
			height: 20px;
			margin: 0 5px;
		}

	}
}