@font-face {
	font-family: "centabel";
	src: url('../fonts/centabel/centabel.eot');
	src: url('../fonts/centabel/centabel.eot') format('embedded-opentype'),
    	 url('../fonts/centabel/centabel.woff') format('woff'),
    	 url('../fonts/centabel/centabel.ttf') format('truetype'),
         url('../fonts/centabel/centabel.svg#CentabelBook') format('svg');
	font-weight:400;
}

@font-face {
	font-family: "eileencaps";
	src: url('../fonts/eileen/EileenCaps-Black.eot?#iefix');
	src: url('../fonts/eileen/EileenCaps-Black.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/eileen/EileenCaps-Black.woff') format('woff'),
	     url('../fonts/eileen/EileenCaps-Black.ttf')  format('truetype'),
	     url('../fonts/eileen/EileenCaps-Black.svg#EileenCaps-Black') format('svg');
	font-weight:100;
}




body {

	font-family: "centabel";

}

h1 {
	margin-top: 0.1em;

	&.initial:first-child:first-letter {
		font-family:"eileencaps";
		font-weight: normal;
		float:left;
		font-size:3em;
		color: $ink;
		//margin-top:7px;
		margin-right:5px;
		padding:0.05em;
		margin-bottom: .05em;
		margin-right: .05em;
		border: $ink double 10px;

	}

}



// Headlines


h4,h5 {
	margin-bottom:0.2em;
	margin-top:0.4em;

}


// Font sizes


p {
	font-size: 15px;
	line-height: 1.5;
}
