


//input:focus {
//	border: $rubrik 3px solid;
//}


input[type=text], input[type=password],input[type=number], select, option {
    //display: inline;
    box-sizing: border-box;
    //width:100%;
    border-radius: 0px;
    border: transparentize($rubrik, 0.75) 1px solid;
    color: $ink;
    background: $paper;

    &:focus {
      //  border: $rubrik double 3px;
      //  box-shadow: none;
        outline: $rubrik;
    }
    
    &:disabled {
        background: transparentize($rubrik, 0.75);
        color:#fff;
    }
}


fieldset {
    border: transparentize($rubrik, 0.75) 5px double;


    legend {
        color: $ink;
        font-weight: bold;
    }

}
