/*
html,body {
	display:grid;
	background: pink;
	grid-template-columns: 0% 100%;
	grid-template-rows: 0% 100%;

}
*/
html {
	height: 100%;
	max-height: 100%;
}

body {
	position:relative;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	height:100%;
	max-height: 100%;
	grid-template-areas: "tome";
}

#tome {
	grid-area: tome;
	height:100%;
	max-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "baselayer";
}

.display--grid {
	display:grid;
}


.overlay {
	position: absolute;
	z-index:20000;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "baselayer";
	top:0;
	left:0;
	right:0;
	bottom:0;

}

.base-layer--paper-sheet {
	position: fixed;
	z-index:1000;
	grid-area: baselayer;
	background: transparentize(#512c00,0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow:auto;

//	padding: 4em;
	// max-height:100%;
	// overflow:hidden;

	& > div {
		//box-shadow: rgba(0,0,0,0.3) 0 0 2px 2px;
		background:white;
		padding:1em;

	}
}

.base-layer--small-sheet {
	display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: auto 1fr;
}

.base-layer--book {
	grid-area: baselayer;
	display:grid;
	background-image: url("../images/page-shadow.svg");
	background-repeat: repeat-y;
	background-position:center;
	//background: yellow;
	grid-template-columns:50% 50%;
	grid-template-rows: 50px 1fr 50px; //50px 1fr 50px;
	grid-template-areas:
		'header-l header-r'
		'content-l content-r'
		'footer-l footer-r';
}


@media (max-width: $screen-size--mobile-max) {

	.base-layer--book {
		grid-area: baselayer;
		display:grid;
		background-image: none;
		//background: yellow;
		grid-template-columns:1fr;
		grid-template-rows: auto ;
		grid-template-areas:
			'header-l'
			'header-r'
			'content-l'
			'content-r'
			'footer-l'
			'footer-r';
	}


}


header {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	display: grid;

	&.header--left {
		padding-right: 2%;
		padding-left: 1%;
		grid-area:header-l;
	}

	&.header--right {
		padding-left: 2%;
		padding-right: 1%;
		grid-area:header-r;

	}

	> div {
		border-bottom:5px double transparentize($rubrik, 0.75);
	}

}

.content {

	&__page {
		padding-top: 1em;
		width: 100%;
		height: 98%;
		// column-count: 2;
		// column-gap: 8%;
		// column-width: auto;

		// column-fill:auto;
		// column-rule-style: double;
		// column-rule-width: 1px;
		// column-rule-color: transparentize($rubrik, 0.75);

	}


	&.content--left {
		padding-left: 1%;
		padding-right: 2%;
		grid-area:content-l;
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// grid-template-rows: 1fr;
		// grid-gap:2%;
	}

	&.content--right {
		padding-left: 2%;
		padding-right: 1%;
		grid-area:content-r;
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// grid-template-rows: 1fr;
		// grid-gap:2%;
	}


}

@media (max-width: $screen-size--mobile-max) {

	.content {

		&.content--left {
			// padding-left: 1%;
			// padding-right: 2%;
			grid-area:content-l;
			display: grid;
			grid-template-columns: 1fr ;
			grid-template-rows: auto;

		}
		&.content--right {
			// padding-left: 2%;
			// padding-right: 1%;
			grid-area:content-r;
			display: grid;
			grid-template-columns: 1fr ;
			grid-template-rows: auto;

		}


	}

}


.grid-column {

	&--left, &--right {
		//background:red;
	}


}



footer {
	//border-top:5px double transparentize($rubrik, 0.75);

	&.footer--left {
		padding-left: 1%;
		padding-right: 2%;
		grid-area:footer-l;
	}
	&.footer--right {
		padding-left: 2%;
		padding-right: 1%;
		grid-area:footer-r;
	}

	> div {
		border-top:5px double transparentize($rubrik, 0.75);
	}

}



.go-ingame {
	background:white;
	padding:1em;
}

.go-ingame__universe {

  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}


.go-ingame__universe {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.go-ingame__universe-header {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.go-ingame__role-card {

	border: 1px black solid;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;

}

.element-permission {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}



// General Purpose Grids


.grid--two-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0.2em;
}

@media (max-width: $screen-size--mobile-max) {
	.grid--two-column {
		grid-template-columns:  1fr;
		grid-template-rows: auto;

	}

}

.grid {
	display: grid;

	&--3-columns {
		grid-template-columns: 1fr 1fr 1fr;
	}
	&--4-columns {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	&--3-2-2-1-1 {
		grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
	}

	&--auto-c-c-c {
		grid-template-columns: auto 100px 100px 100px;

	}

	&--1column-middle {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}


