
// Foundational ink colors
/// .rubrik - dark red - offgame
/// .ink - dark blue - ingame



.rubrik {

	color: $rubrik;

}


.ink {

	color: $ink;

}

.leaf {

	color:$leaf;

}



.ink--background {
	background-color:	$ink;

}

.rubrik--background {
	background-color: 	$rubrik;

}

.leaf--background {

	background-color: 	$leaf;

}



// Opacity classes

.faded {

    opacity: 0.5;

}


// Borders

.border--padding {
	//border: transparentize($rubrik, 0.75) 5px double;
	padding: 2em;
}

.border--content {
	padding: 2em;
	border: transparentize($rubrik, 0.75) 5px double;
	
}

.content--scrollable {
	overflow: auto;
}



// Alert colors




.alert{


	width:100%;

	a {
		font-weight: bold;
	}

	&.alert--success {
		color:$leaf;
		background: transparentize($leaf, 0.75);

		a { color:$leaf; }
	}

	&.alert--warning {
		color:$turmeric;
		background: transparentize($turmeric, 0.75);

		a { color:$turmeric; }

	}

	&.alert--danger {
		color:$rubrik;
		background: transparentize($rubrik, 0.75);

		a { color:$rubrik; }
		//background: red;

	}




}
