
.placeholder {

	&--name {
		display:grid;
		grid-template-columns: 110px auto;
		grid-template-rows: 1fr;
		grid-gap: 1em;


	}

	&--dropcap {
		height:100px;
		width:100px;
		border:10px #7778A0 double;
		float:left;
	}

	&--h1 {
		height:35px;
		width:33%;
		background:#7778A0;
		margin-bottom:10px;
	}

	&--h3 {
		height:35px;
		width:33%;
		background:#7778A0;
		margin-bottom:10px;
	}

	&--p {
		height:15px;
		width:33%;
		background:#7778A0;
		margin-bottom:10px;

	}

	&--ul {

	}

	&--li {
		height:15px;
		width:33%;
		background:#7778A0;
		margin-bottom: 2px;
	}

}


/* Animation keyframes - you need to add prefixes */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
	width: 20px;
	height: 20px;
	border-radius: 12px;
	border: 3px solid $rubrik;
}

/* Spinning circle mask */
.loading .mask {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

/* Spinner */
.loading .spinner {
	/*position: absolute;
	left: 1px;
	top: 1px;*/
	width: 26px;
	height: 26px;
	animation: spin 1s infinite linear;
}


// .fade-enter-active, .fade-leave-active {
//   transition: opacity 0.5s
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
//   opacity: 0
// }
