// .login__form {

// 	display: grid;
// 	grid-template-columns: auto 500px auto;
// 	grid-template-rows: auto 1fr auto;
//   	// grid-template-areas:
// 	// 	//". . . "
// 	// 	". login-form ."
// 	// 	". . . "
// 	// ;

// 	& > form {
		
// 		//grid-area: login-form;
// 		display: flex;
// 		flex-direction: column;
// 		align-items:center;
// 	}

// }


.form--login {
	max-width: 500px;
	height: 700px;
	display: grid;
	background-image:url('../images/hand-out-of-book.svg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-template-columns: 150px 200px 150px;
	grid-template-rows: 200px 500px;
	text-align: left;
}

.login__inputs {
	//grid-area: login-inputs;
	grid-row: 2 / 3;
	grid-column: 2 / 3;

}

@media only screen and (max-width: 600px) {
	.form--login {
		background-image:unset;	
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: unset;	
	}

	.login__inputs {
		grid-row: 1 / 1;
		grid-column: 1 / 1;
	
	}	

}

// .fixed-size--tome {

// 	background:url('../images/hand-out-of-book.svg');
// 	background-repeat: no-repeat;
// 	background-size: contain;

// 	//height:800px;
// 	width:500px;

// 	display: grid;
// 	grid-template-columns: 1fr 1fr 1fr;
// 	grid-template-rows: 2fr 3fr 2fr;
// 	grid-template-areas:
// 		". . . "
// 		". login-inputs ."
// 		". . . "
// 	;
// 	& > div.login--inputs {
// 		grid-area: login-inputs;
// 	}
// }


@media only screen and (max-width: 900px) {
	.login__form {
		grid-template-columns: 1fr;
		//grid-template-rows: 1fr;
		grid-template-areas:
			"."
			"login-form	"
			"."
		;
	}

	.fixed-size--tome {
		height:600px;
		width:400px;
	}
}

@media only screen and (max-width: 700px) {

	.fixed-size--tome {
		height:500px;
		width:300px;
	}

	.border--content {
		padding: 1em;
	}
}
