

// Colors
$paper: #fff;
$rubrik: #5A0700;
$ink: #20214C;
$leaf: #004900;
$turmeric: #928D00;


html, body {
	margin: 0; 

}


h3,h4,h1 {
  margin-bottom:0.2em;

}

p {
  margin: 0;
  padding:0;
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: 0.3em;
}


// Screen sizes:

$screen-size--mobile-max: 576px;
@import "ink";

@import "quill/quill.core";
@import "quill/quill.snow";
@import "quill/quill.bestiaries";

@import "alerts";
@import "animations";
@import "autocomplete";
@import "buttons";
@import "chart";
@import "description";
@import "grid";
@import "paper";
@import "font";
@import "forms";
@import "links";
@import "lists";
@import "login";
@import "loading";
@import "edit-ingame-time";
@import "edit-name";
@import "icons";
@import "editors";
