{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
			<title>
				{% if debug %}
					TEST
				{% endif %}
				{% block page_title %} {% endblock %}
				{% if request.session.universe_name %}
					{{ request.session.universe_name  }}
				{% endif %}
			</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<link rel="icon" type="image/png" href="{% static 'almanak/images/favicon.png' %}" />


		<link rel="stylesheet" type="text/css" href="{% static 'almanak/style/style.css' %}" />

		<script src="{% static 'almanak/js/lib/popper.min.js' %}"></script>
		<script src="{% static 'almanak/js/lib/vue.js' %}"></script>
		<script src="{% static 'almanak/js/lib/vuex.js' %}"></script>
		<script src="{% static 'almanak/js/lib/axios.min.js' %}"></script>
		<script src="{% static 'almanak/js/lib/lodash.js' %}"></script>
		<script src="{% static 'almanak/js/lib/moment.min.js' %}"></script>
		<script src="{% static 'almanak/js/lib/v-tooltip.min.js' %}"></script>

		<script src="{% static 'almanak/js/lib/quill/quill.js' %}"></script>
		<script src="{% static 'almanak/js/lib/vuequill/vue-quill-editor.js' %}"></script>			


	</head>
	<body>
		<!-- for ingame validation and data retrieval  -->
		{% block api_endpoints %}
		<input type="hidden" id="user-id" value="{{ user.pk }}">
		<input type="hidden" id="universe-id" value="{{ request.session.universe_current }}">
		<input type="hidden" id="campaign-id" value="{{ request.session.campaign_current }}">
		<input type="hidden" id="role-id" value="{{ request.session.role_current }}">
		<input type="hidden" id="static-url" value="{% static 'almanak/' %}">
		<input type="hidden" id="element-id" value="{{ element.id }}">
		{% endblock %}


		<!-- Main wrapper and element of main Vue instance  -->
		<div id="tome" @click="closePopup" >
			{% block content %}

				<!-- If user is not ingame (have a universe_id, Campaign_id and role_id in his session) This dialog appears: from where user can choose an ingame view. -->
				<go-ingame v-if="!userIsIngame">
				</go-ingame>



			{% endblock %}
			{% block error %}
			{% endblock %}

		</div>

		<!-- Javascripts dynamically loaded by enherited templates -->
		{% block javascript %}
		<!-- Javascripts used by all page types  -->

		<!-- Data Models -->
		<script src="{% static 'almanak/js/models/campaign-element-relation-model.js' %}" ></script>
		<script src="{% static 'almanak/js/models/element-model.js' %}" ></script>
		<script src="{% static 'almanak/js/models/element-relation-model.js' %}" ></script>
		<script src="{% static 'almanak/js/models/entity-event-relation-model.js' %}" ></script>
		<script src="{% static 'almanak/js/models/element-item-relation-model.js' %}" ></script>
		<script src="{% static 'almanak/js/models/element-unique-item-relation-model.js' %}" ></script>
		<script src="{% static 'almanak/js/models/name-model.js' %}" ></script>

		<!-- Wrapper Components -->
		<script src="{% static 'almanak/js/wrappers/overlay.js' %}" ></script>
		<script src="{% static 'almanak/js/wrappers/fieldset.js' %}" ></script>
		<script src="{% static 'almanak/js/wrappers/element-link.js' %}" ></script>

		<!-- Base Components, Main Vue instance and Vuex State Management Store-->
		<script src="{% static 'almanak/js/components/misc/loading-spinner.js' %}" ></script>
		<script src="{% static 'almanak/js/components/go-ingame.js' %}" ></script>

		<!-- Vuex State Management Store and Modules -->
		<script src="{% static 'almanak/js/store/modules/create-store.js' %}" ></script>
		<script src="{% static 'almanak/js/store/modules/editors-store.js' %}" ></script>
		<script src="{% static 'almanak/js/store/modules/news-store.js' %}" ></script>
		<script src="{% static 'almanak/js/store/modules/generic-store.js' %}" ></script>
		<script src="{% static 'almanak/js/store/modules/element-store.js' %}" ></script>
		<script src="{% static 'almanak/js/store/modules/description-store.js' %}" ></script>
		<script src="{% static 'almanak/js/store/modules/toc-store.js' %}" ></script>
		<script src="{% static 'almanak/js/store/store.js' %}" ></script>

		<!-- Main Vue instance -->
		<script src="{% static 'almanak/js/init.js' %}" ></script>

		{% endblock %}
	</body>
</html>
