{% load static %}
<!DOCTYPE html>
<html lang="en">
	  <head>

		<meta charset="utf-8">
		<title>RPG Management - Colaborative World Building - Bestiaries.org</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'almanak/style.css' %}"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'almanak/styleguide/style.css' %}" />
		<link rel="icon" type="image/png" href="{% static 'almanak/images/favicon.png' %}" />
		<script src="{% static 'almanak/js/lib/vue.js' %}"></script>
		<script src="{% static 'almanak/js/lib/axios.min.js' %}"></script>

	</head>
	<body>

		{% block content %}
		{% endblock %}


  </body>
</html>
