{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ user.first_name }} {{ user.last_name }} @
{% endblock %}


{% block content %}

{% block popups %}

{% endblock %}

		<header>
			<section class="column">
				{% block header_left %}
					<section style="display:flex;" >
						<autocomplete placeholder-text="Search for pages" name="global_search"></autocomplete>&nbsp;<span class="rubrik">in</span>&nbsp;
						<toggle-search-scope></toggle-search-scope> 
					</section>

					<section class="column column--content">
						<user-status></user-status>
					</section>
				{% endblock %}
			</section>

			<div class="bookmark__container">
				<bookmark></bookmark>
			</div>	

			<section class="column" >
				{% block header_right %}
				<section class="column column--content">
					<ingame-status></ingame-status>
				</section>
				<section class="column column--content">

				</section>				
				{% endblock %}
			</section>
		</header>
		<main>
			<section >

					{% block content_left %}

					{% endblock %}

			</section>

			<div class="separator--mobile">
				<br/><br/><br/>
				<img class="icon--breaker" src="{% static 'almanak/images/icons/breaker.svg' %}">
				<br/><br/><br/>
			</div>

			<section >

				{% block content_right %}

				{% endblock %}

			</section>
		</main>
		<footer >
			<section class="column">
				{% block footer_left %}

				{% endblock %}
			</section>

			<section class="column ">
				{% block footer_right %}

				{% endblock %}
			</section>

		</footer>

		<description-editor v-if="$store.state.editors.editorActive == 'description' && $store.state.editors.descriptionEditor.data"></description-editor>
		<create-new-element v-if="$store.state.editors.editorActive == 'newElement'" ></create-new-element>
		<create-menu v-if="$store.state.editors.editorActive == 'menu'" ></global-menu>
	</div>



{% endblock %}



{% block javascript %}
		<script src="{% static 'almanak/js/components/misc/bookmark.js' %}" ></script>

		<script src="{% static 'almanak/js/components/forms/inputs/new-gender-input.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/new-name-input.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/new-secret-input.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/select-group-type-input.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/above-event-autocomplete.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/above-group-autocomplete.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/above-place-autocomplete.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/new-rpg-session-number-input.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/inputs/new-is-unique-item-input.js' %}" ></script>

		<script src="{% static 'almanak/js/components/forms/create-new-element.js' %}" ></script>
		<script src="{% static 'almanak/js/components/forms/create-new-form.js' %}" ></script>

		<script src="{% static 'almanak/js/components/description/description-editor-relation.js' %}" ></script>
		<script src="{% static 'almanak/js/components/description/description-editor.js' %}" ></script>
		<script src="{% static 'almanak/js/components/search/toggle-search-scope.js' %}" ></script>
		<script src="{% static 'almanak/js/components/search/autocomplete.js' %}" ></script>
		<script src="{% static 'almanak/js/components/user/user-status.js' %}" ></script>
		<script src="{% static 'almanak/js/components/user/ingame-status.js' %}" ></script>
		<script src="{% static 'almanak/js/components/user/user-select.js' %}" ></script>
		{{ block.super }}

{% endblock %}
