{% extends "base_no_tome.html" %}
{% load static %}


{% block content %}
<div class="border--padding display--grid">
	<div class="border--content display--grid grid--1column-middle">
			
		<div>	
			{{ md | safe }}	
		</div>

	</div>
</div>
{% endblock %}