// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

.fade-enter-active {
	transition: opacity .75s
}

.fade-enter,
.fade-leave-active {
	opacity: 0
}


.fade-fold-enter-active {

	animation: fadeAni .7s;

	& > div {
		animation: foldAni .8s;
	}

}

.fade-fold-leave-active {

	animation: fadeAni .6s reverse;

	& > div {
		animation: foldAni .5s reverse;
	}
}


.fade-slide-enter-active {

	animation: fadeAni .4s;

	& > div {
		animation: slideAni .8s ;
	}

}

.fade-slide-leave-active {

	animation: fadeAni .4s reverse;

	& > div {
		animation: slideAni .5s reverse;
	}
}

.autocomplete-enter-active {

	animation: bounce-in .6s;

}

.autocomplete-leave-active {

	animation: bounce-out .3s;

}



.fall-down-enter-active {

	animation: fall-down .7s;

}

.fall-down-leave-active {

	//animation: bounce-out .3s;

}

@keyframes fall-down {

	0% {
		transform: translate(0,-1500px);
	}
	100% {
		transform: translate(0,0);
	}


}


@keyframes bounce-in {

	0% {
		transform: scale(0.9); 
		opacity: 0;
	}
	100% {
		transform: scale(1); 
		opacity: 1;
	}


}

@keyframes perspective-rotate {

	0% {

		transform: perspective(600) scale(0.9) rotateY(90deg); 
		opacity: 0;
	}
	100% {

		transform: scale(1) perspective(600) rotateY(0deg); 
		opacity: 1;
	}
	
}

@keyframes fadeAni {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

@keyframes bounce-out {

	0% {
		transform: scale(1); 
		opacity: 1;
	}
	100% {
		transform: scale(.9); 
		opacity: 0;
	}

}

@keyframes slideAni {

	0% {
		transform: translateY(-100%)
	}
	100% {
		transform: translateY(0%)
	}
}

@keyframes foldAni {
	0% {
		transform: perspective(1000px) rotateY(90deg) scale(0.4);
	}
	100% {
		transform: rotateY(0deg) scale(1);
	}	
}


.inkblot-enter-active, .inkblot-leave-active {
  transition: text-shadow 5s;
}
.inkblot-enter, .inkblot-leave-to /* .inkblot-leave-active below version 2.1.8 */ {
  text-shadow: 2x 2px 20px black;
}


.go-ingame__role-card {
	transition: background-color .75s, color .75s;
	cursor: default;

	span, span:hover {
		cursor: default;
	}



}

.go-ingame__role-card:hover {

	color: white;
	background-color: $ink;
	cursor: default;

	span, span:hover	{
		cursor: default;
		color: white
	}

}



button, input[type=submit] {
	transition: all 0.3s ease-in;
}
