.create-menu__point {
	display: flex;
	cursor: pointer;
	opacity: 0.5;


	&:hover {
		opacity: 1;
		animation:rubrik-blot 1s 1;
		text-shadow: 0px 2px 15px mix($rubrik,$paper,85%);

	}

	&--active {
		opacity: 1;
	}
}