.edit-name {
    border: transparentize($rubrik, 0.75) 5px double;
    padding:1em;
    margin-bottom: 1em;
    position: relative;
}


.popover--delete-name {
    z-index:100;
    grid-column: span 2;
    grid-row: span 3; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: grid;

    p {
        text-align: center;
        align-self: center;
    }
}