.edit-ingame-time {
    display: grid;
    //background: red;
    grid-template-columns: 40px 70px 60px 120px 70px 40px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5px;
    //background-color: green;

    div {
        padding-left: 1px;
        padding-right: 1px;
       // box-sizing: border-box;

    
       .input--time {
            width:25%;
       }

    }
    
}

@media (max-width: 576px) { 
    .edit-ingame-time {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

    }

}