footer > section {
	padding: 0.5rem 0 0.5rem 0;
	border-top: transparentize($rubrik, 0.75) 5px double;

}

@media (max-width: $width-mobile) {

	footer > section {
		border: none;
	}
	
	footer {
		border-top: transparentize($rubrik, 0.75) 5px double;
	
	}
}