


//input:focus {
//	border: $rubrik 3px solid;
//}


input[type=text], input[type=password],input[type=number], select, option {
	font-family: "centabel";
    box-sizing: border-box;
    border-radius: 0px;
    border: transparentize($rubrik, 0.75) 1px solid;
    color: $ink;
    background: $paper;
    height: 1.5rem;

    &:focus {
        outline: $rubrik;
    }
    
    &:disabled {
        background: transparentize($rubrik, 0.75);
        color:#fff;
    }
}


fieldset {
    border: transparentize($rubrik, 0.75) 5px double;

    legend {
        color: $ink;
        font-weight: bold;
    }

}
