
// Main HTML and body settings
body, html {
	height: 100%;
	margin:0;
	font-size: 14px;
}

body {
	background: #fff;
}



// #tome is the main wrapper div of the Vuejs Application.
#tome {
	/* background: green; */
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1fr auto;
	grid-column-gap: rem;
	background-image: url("../images/page-shadow.svg");
	background-repeat: repeat-y;
	background-position:center;
	background-size: 50px;


}

.tome-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;

}

// Three main sections that makes the tome layout

header {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	display: grid;
	// grid-column-gap: 4rem;
	// grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	grid-template-columns:minmax(300px,1fr) 50px minmax(300px,1fr);
}

footer {
	grid-column: 1 / 5;
	grid-row: 3 / 4;
	display: grid;
	grid-column-gap: 4rem;	
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

main {
	grid-column-gap: 4rem;
	display:grid;
	grid-column: 1 / 5;
	grid-row: 2 / 3;

	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

	overflow: scroll;
}


// General purpose class for mimicing the behavior of the two column collapsable layout of the the above.

.column {
	display:grid;
	grid-column-gap: 2rem;		
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.column--content {
	padding: 0 1.5rem 0 1rem;
}


.grid {
	display: grid;

	&--auto-auto-c-c {
		grid-template-columns: 3fr 1fr 1fr 1fr;

	}

	&--create-input {
		grid-template-columns: 1fr 2fr;
		margin: 1rem;
	}
}

.separator--mobile {
	display: none;
}

.global-menu {
	grid-column: 1 / 5;
	grid-row: 1 / 4;
	z-index: 100;
	display: grid;
	grid-template-columns:minmax(300px,1fr) 50px minmax(300px,1fr);

}

.global-menu--overlay {
	padding-top: 5rem;
	grid-column: 2 / 4;
	grid-row: 1 / 4;
	display: flex;
	flex-direction: column;

	h2 {
		color: $rubrik;
		padding: .5rem;
		background:  $paper;	
		box-shadow: 0px 0px 3px $paper;
	}

}
.global-menu__point {
	display: flex;
	align-items: center;
	margin-bottom: .3rem;
}


.icon--bookmark {
	width: 35px;
	padding-left: 10px;
	margin-right: .5rem;
}



@media (max-width: $width-mobile) {
	#tome {
		background-image: unset;
	}

	.separator--mobile {
		display: block;
		text-align: center;
	}

	.global-menu--overlay { 
		grid-column: 1 / 4;		
	}
	
}
	