header > section {
	padding: 0.5rem 0 0.5rem 0;
	border-bottom: transparentize($rubrik, 0.75) 5px double;
}

.bookmark__container {
//	background: red;
}


.bookmark--passive {
	background: $rubrik;
	margin-left: .2rem;
	margin-right: .2rem;
	margin-bottom: .2rem;	
	margin-top: -3.5rem;
	height: 150%;
	border: 4px white double;
	box-shadow: gray .2rem .2rem .5rem;
	transition: ease-in-out .3s all;
	cursor: pointer;
	opacity: 0.2;
	display: flex;
	align-content: flex-end;
	flex-direction: column-reverse;

	&:hover { 
		transform-origin: top right;	
		transform: translate(0,30px) rotate(-2deg);
		opacity: 1;
		box-shadow: gray .1rem .1rem .75rem;
	}

}

.bookmark--active {
	background: $rubrik;
	margin-left: .2rem;
	margin-right: .2rem;
	margin-top: -2.5rem;
	height: 80%;
	border: 4px white double;
	grid-column: 2 / 3; 
	grid-row:1/4;
}


@media (max-width: $width-mobile) {

	header > section {
		border: none;
	}

	header{
		border-bottom: transparentize($rubrik, 0.75) 5px double;
	}

	.bookmark__container {
		display: none;
	}

	
}