.overlay {
	background: transparentize(#512c00,0.5);
	z-index: 1000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding:2rem;
	max-height: 100%;
	overflow: auto;

}

.paper-sheet {
	background: white;

}

@media (max-width: $width-mobile) {
	.overlay {
		padding: 0;
	}

}
	