html, body {
  margin: 0;
}

/*!
 * Quill Editor v1.3.4
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  position: relative;
}

.ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}

.ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
  pointer-events: none;
}

.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}

.ql-clipboard p {
  margin: 0;
  padding: 0;
}

.ql-editor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  -o-tab-size: 4;
     tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ql-editor > * {
  cursor: text;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 1.5em;
}

.ql-editor ol > li,
.ql-editor ul > li {
  list-style-type: none;
}

.ql-editor ul > li::before {
  content: '\2022';
}

.ql-editor ul[data-checked=true],
.ql-editor ul[data-checked=false] {
  pointer-events: none;
}

.ql-editor ul[data-checked=true] > li *,
.ql-editor ul[data-checked=false] > li * {
  pointer-events: all;
}

.ql-editor ul[data-checked=true] > li::before,
.ql-editor ul[data-checked=false] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}

.ql-editor ul[data-checked=true] > li::before {
  content: '\2611';
}

.ql-editor ul[data-checked=false] > li::before {
  content: '\2610';
}

.ql-editor li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}

.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}

.ql-editor li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}

.ql-editor ol li.ql-direction-rtl,
.ql-editor ul li.ql-direction-rtl {
  padding-right: 1.5em;
}

.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}

.ql-editor ol li:before {
  content: counter(list-0, decimal) ". ";
}

.ql-editor ol li.ql-indent-1 {
  counter-increment: list-1;
}

.ql-editor ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) ". ";
}

.ql-editor ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-2 {
  counter-increment: list-2;
}

.ql-editor ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) ". ";
}

.ql-editor ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-3 {
  counter-increment: list-3;
}

.ql-editor ol li.ql-indent-3:before {
  content: counter(list-3, decimal) ". ";
}

.ql-editor ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-4 {
  counter-increment: list-4;
}

.ql-editor ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) ". ";
}

.ql-editor ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-5 {
  counter-increment: list-5;
}

.ql-editor ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) ". ";
}

.ql-editor ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-6 {
  counter-increment: list-6;
}

.ql-editor ol li.ql-indent-6:before {
  content: counter(list-6, decimal) ". ";
}

.ql-editor ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-7 {
  counter-increment: list-7;
}

.ql-editor ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) ". ";
}

.ql-editor ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}

.ql-editor ol li.ql-indent-8 {
  counter-increment: list-8;
}

.ql-editor ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) ". ";
}

.ql-editor ol li.ql-indent-8 {
  counter-reset: list-9;
}

.ql-editor ol li.ql-indent-9 {
  counter-increment: list-9;
}

.ql-editor ol li.ql-indent-9:before {
  content: counter(list-9, decimal) ". ";
}

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}

.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}

.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}

.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}

.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}

.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}

.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}

.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}

.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}

.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}

.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}

.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}

.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}

.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}

.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}

.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}

.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}

.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}

.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}

.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}

.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}

.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}

.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}

.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}

.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}

.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}

.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}

.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}

.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}

.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}

.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}

.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}

.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}

.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}

.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}

.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}

.ql-editor .ql-video {
  display: block;
  max-width: 100%;
}

.ql-editor .ql-video.ql-align-center {
  margin: 0 auto;
}

.ql-editor .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}

.ql-editor .ql-bg-black {
  background-color: #000;
}

.ql-editor .ql-bg-red {
  background-color: #e60000;
}

.ql-editor .ql-bg-orange {
  background-color: #f90;
}

.ql-editor .ql-bg-yellow {
  background-color: #ff0;
}

.ql-editor .ql-bg-green {
  background-color: #008a00;
}

.ql-editor .ql-bg-blue {
  background-color: #06c;
}

.ql-editor .ql-bg-purple {
  background-color: #93f;
}

.ql-editor .ql-color-white {
  color: #fff;
}

.ql-editor .ql-color-red {
  color: #e60000;
}

.ql-editor .ql-color-orange {
  color: #f90;
}

.ql-editor .ql-color-yellow {
  color: #ff0;
}

.ql-editor .ql-color-green {
  color: #008a00;
}

.ql-editor .ql-color-blue {
  color: #06c;
}

.ql-editor .ql-color-purple {
  color: #93f;
}

.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

.ql-editor .ql-size-small {
  font-size: 0.75em;
}

.ql-editor .ql-size-large {
  font-size: 1.5em;
}

.ql-editor .ql-size-huge {
  font-size: 2.5em;
}

.ql-editor .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}

.ql-editor .ql-align-center {
  text-align: center;
}

.ql-editor .ql-align-justify {
  text-align: justify;
}

.ql-editor .ql-align-right {
  text-align: right;
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

/*!
 * Quill Editor v1.3.4
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  position: relative;
}

.ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}

.ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
  pointer-events: none;
}

.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}

.ql-clipboard p {
  margin: 0;
  padding: 0;
}

.ql-editor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.42;
  height: 400px;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  -o-tab-size: 4;
     tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ql-editor > * {
  cursor: text;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 1.5em;
}

.ql-editor ol > li,
.ql-editor ul > li {
  list-style-type: none;
}

.ql-editor ul > li::before {
  content: '\2022';
}

.ql-editor ul[data-checked=true],
.ql-editor ul[data-checked=false] {
  pointer-events: none;
}

.ql-editor ul[data-checked=true] > li *,
.ql-editor ul[data-checked=false] > li * {
  pointer-events: all;
}

.ql-editor ul[data-checked=true] > li::before,
.ql-editor ul[data-checked=false] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}

.ql-editor ul[data-checked=true] > li::before {
  content: '\2611';
}

.ql-editor ul[data-checked=false] > li::before {
  content: '\2610';
}

.ql-editor li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}

.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}

.ql-editor li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}

.ql-editor ol li.ql-direction-rtl,
.ql-editor ul li.ql-direction-rtl {
  padding-right: 1.5em;
}

.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}

.ql-editor ol li:before {
  content: counter(list-0, decimal) ". ";
}

.ql-editor ol li.ql-indent-1 {
  counter-increment: list-1;
}

.ql-editor ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) ". ";
}

.ql-editor ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-2 {
  counter-increment: list-2;
}

.ql-editor ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) ". ";
}

.ql-editor ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-3 {
  counter-increment: list-3;
}

.ql-editor ol li.ql-indent-3:before {
  content: counter(list-3, decimal) ". ";
}

.ql-editor ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-4 {
  counter-increment: list-4;
}

.ql-editor ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) ". ";
}

.ql-editor ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-5 {
  counter-increment: list-5;
}

.ql-editor ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) ". ";
}

.ql-editor ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-6 {
  counter-increment: list-6;
}

.ql-editor ol li.ql-indent-6:before {
  content: counter(list-6, decimal) ". ";
}

.ql-editor ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}

.ql-editor ol li.ql-indent-7 {
  counter-increment: list-7;
}

.ql-editor ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) ". ";
}

.ql-editor ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}

.ql-editor ol li.ql-indent-8 {
  counter-increment: list-8;
}

.ql-editor ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) ". ";
}

.ql-editor ol li.ql-indent-8 {
  counter-reset: list-9;
}

.ql-editor ol li.ql-indent-9 {
  counter-increment: list-9;
}

.ql-editor ol li.ql-indent-9:before {
  content: counter(list-9, decimal) ". ";
}

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}

.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}

.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}

.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}

.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}

.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}

.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}

.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}

.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}

.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}

.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}

.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}

.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}

.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}

.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}

.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}

.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}

.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}

.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}

.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}

.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}

.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}

.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}

.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}

.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}

.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}

.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}

.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}

.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}

.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}

.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}

.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}

.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}

.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}

.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}

.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}

.ql-editor .ql-video {
  display: block;
  max-width: 100%;
}

.ql-editor .ql-video.ql-align-center {
  margin: 0 auto;
}

.ql-editor .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}

.ql-editor .ql-bg-black {
  background-color: #000;
}

.ql-editor .ql-bg-red {
  background-color: #e60000;
}

.ql-editor .ql-bg-orange {
  background-color: #f90;
}

.ql-editor .ql-bg-yellow {
  background-color: #ff0;
}

.ql-editor .ql-bg-green {
  background-color: #008a00;
}

.ql-editor .ql-bg-blue {
  background-color: #06c;
}

.ql-editor .ql-bg-purple {
  background-color: #93f;
}

.ql-editor .ql-color-white {
  color: #fff;
}

.ql-editor .ql-color-red {
  color: #e60000;
}

.ql-editor .ql-color-orange {
  color: #f90;
}

.ql-editor .ql-color-yellow {
  color: #ff0;
}

.ql-editor .ql-color-green {
  color: #008a00;
}

.ql-editor .ql-color-blue {
  color: #06c;
}

.ql-editor .ql-color-purple {
  color: #93f;
}

.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

.ql-editor .ql-size-small {
  font-size: 0.75em;
}

.ql-editor .ql-size-large {
  font-size: 1.5em;
}

.ql-editor .ql-size-huge {
  font-size: 2.5em;
}

.ql-editor .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}

.ql-editor .ql-align-center {
  text-align: center;
}

.ql-editor .ql-align-justify {
  text-align: justify;
}

.ql-editor .ql-align-right {
  text-align: right;
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

.ql-snow.ql-toolbar:after,
.ql-snow .ql-toolbar:after {
  clear: both;
  content: '';
  display: table;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  float: left;
}

.ql-snow.ql-toolbar button:active:hover,
.ql-snow .ql-toolbar button:active:hover {
  outline: none;
}

.ql-snow.ql-toolbar input.ql-image[type=file],
.ql-snow .ql-toolbar input.ql-image[type=file] {
  display: none;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #06c;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #06c;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #06c;
}

@media (pointer: coarse) {
  .ql-snow.ql-toolbar button:hover:not(.ql-active),
  .ql-snow .ql-toolbar button:hover:not(.ql-active) {
    color: #444;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
    fill: #444;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
    stroke: #444;
  }
}

.ql-snow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ql-snow * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ql-snow .ql-hidden {
  display: none;
}

.ql-snow .ql-out-bottom,
.ql-snow .ql-out-top {
  visibility: hidden;
}

.ql-snow .ql-tooltip {
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.ql-snow .ql-tooltip a {
  cursor: pointer;
  text-decoration: none;
}

.ql-snow .ql-tooltip.ql-flip {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.ql-snow .ql-formats {
  display: inline-block;
  vertical-align: middle;
}

.ql-snow .ql-formats:after {
  clear: both;
  content: '';
  display: table;
}

.ql-snow .ql-stroke {
  fill: none;
  stroke: #444;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.ql-snow .ql-stroke-miter {
  fill: none;
  stroke: #444;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #444;
}

.ql-snow .ql-empty {
  fill: none;
}

.ql-snow .ql-even {
  fill-rule: evenodd;
}

.ql-snow .ql-thin,
.ql-snow .ql-stroke.ql-thin {
  stroke-width: 1;
}

.ql-snow .ql-transparent {
  opacity: 0.4;
}

.ql-snow .ql-direction svg:last-child {
  display: none;
}

.ql-snow .ql-direction.ql-active svg:last-child {
  display: inline;
}

.ql-snow .ql-direction.ql-active svg:first-child {
  display: none;
}

.ql-snow .ql-editor h1 {
  font-size: 2em;
}

.ql-snow .ql-editor h2 {
  font-size: 1.5em;
}

.ql-snow .ql-editor h3 {
  font-size: 1.17em;
}

.ql-snow .ql-editor h4 {
  font-size: 1em;
}

.ql-snow .ql-editor h5 {
  font-size: 0.83em;
}

.ql-snow .ql-editor h6 {
  font-size: 0.67em;
}

.ql-snow .ql-editor a {
  text-decoration: underline;
}

.ql-snow .ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.ql-snow .ql-editor code,
.ql-snow .ql-editor pre {
  background-color: #f0f0f0;
  border-radius: 3px;
}

.ql-snow .ql-editor pre {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}

.ql-snow .ql-editor code {
  font-size: 85%;
  padding: 2px 4px;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}

.ql-snow .ql-editor img {
  max-width: 100%;
}

.ql-snow .ql-picker {
  color: #444;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  position: relative;
  vertical-align: middle;
}

.ql-snow .ql-picker-label {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 8px;
  padding-right: 2px;
  position: relative;
  width: 100%;
}

.ql-snow .ql-picker-label::before {
  display: inline-block;
  line-height: 22px;
}

.ql-snow .ql-picker-options {
  background-color: #fff;
  display: none;
  min-width: 100%;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
}

.ql-snow .ql-picker-options .ql-picker-item {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: #ccc;
  z-index: 2;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
  fill: #ccc;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: #ccc;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  display: block;
  margin-top: -1px;
  top: 100%;
  z-index: 1;
}

.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
  width: 28px;
}

.ql-snow .ql-color-picker .ql-picker-label,
.ql-snow .ql-icon-picker .ql-picker-label {
  padding: 2px 4px;
}

.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-snow .ql-icon-picker .ql-picker-label svg {
  right: 4px;
}

.ql-snow .ql-icon-picker .ql-picker-options {
  padding: 4px 0px;
}

.ql-snow .ql-icon-picker .ql-picker-item {
  height: 24px;
  width: 24px;
  padding: 2px 4px;
}

.ql-snow .ql-color-picker .ql-picker-options {
  padding: 3px 5px;
  width: 152px;
}

.ql-snow .ql-color-picker .ql-picker-item {
  border: 1px solid transparent;
  float: left;
  height: 16px;
  margin: 2px;
  padding: 0px;
  width: 16px;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  position: absolute;
  margin-top: -9px;
  right: 0;
  top: 50%;
  width: 18px;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-size .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-label]:not([data-label=''])::before {
  content: attr(data-label);
}

.ql-snow .ql-picker.ql-header {
  width: 98px;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Normal';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: 'Heading 1';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: 'Heading 2';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: 'Heading 3';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: 'Heading 4';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: 'Heading 5';
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: 'Heading 6';
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  font-size: 2em;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  font-size: 1.5em;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  font-size: 1.17em;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  font-size: 1em;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  font-size: 0.83em;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  font-size: 0.67em;
}

.ql-snow .ql-picker.ql-font {
  width: 108px;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: 'Sans Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: 'Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: 'Monospace';
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  font-family: Georgia, Times New Roman, serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  font-family: Monaco, Courier New, monospace;
}

.ql-snow .ql-picker.ql-size {
  width: 98px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: 'Normal';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: 'Small';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 'Large';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 'Huge';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  font-size: 10px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  font-size: 18px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  font-size: 32px;
}

.ql-snow .ql-color-picker.ql-background .ql-picker-item {
  background-color: #fff;
}

.ql-snow .ql-color-picker.ql-color .ql-picker-item {
  background-color: #000;
}

.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 15px;
}

.ql-toolbar.ql-snow .ql-picker-label {
  border: 1px solid transparent;
}

.ql-toolbar.ql-snow .ql-picker-options {
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #ccc;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: #ccc;
}

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
  border-color: #000;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
}

.ql-snow .ql-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 5px #ddd;
          box-shadow: 0px 0px 5px #ddd;
  color: #444;
  padding: 5px 12px;
  white-space: nowrap;
}

.ql-snow .ql-tooltip::before {
  content: "Visit URL:";
  line-height: 26px;
  margin-right: 8px;
}

.ql-snow .ql-tooltip input[type=text] {
  display: none;
  border: 1px solid #ccc;
  font-size: 13px;
  height: 26px;
  margin: 0px;
  padding: 3px 5px;
  width: 170px;
}

.ql-snow .ql-tooltip a.ql-preview {
  display: inline-block;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.ql-snow .ql-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: 'Edit';
  margin-left: 16px;
  padding-right: 8px;
}

.ql-snow .ql-tooltip a.ql-remove::before {
  content: 'Remove';
  margin-left: 8px;
}

.ql-snow .ql-tooltip a {
  line-height: 26px;
}

.ql-snow .ql-tooltip.ql-editing a.ql-preview,
.ql-snow .ql-tooltip.ql-editing a.ql-remove {
  display: none;
}

.ql-snow .ql-tooltip.ql-editing input[type=text] {
  display: inline-block;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  border-right: 0px;
  content: 'Save';
  padding-right: 0px;
}

.ql-snow .ql-tooltip[data-mode=link]::before {
  content: "Enter link:";
}

.ql-snow .ql-tooltip[data-mode=formula]::before {
  content: "Enter formula:";
}

.ql-snow .ql-tooltip[data-mode=video]::before {
  content: "Enter video:";
}

.ql-snow a {
  color: #06c;
}

.ql-container.ql-snow {
  border: 1px solid #ccc;
}

.ql-editor::-moz-selection {
  background: #000;
  color: #fff;
}

.ql-editor::selection {
  background: #000;
  color: #fff;
}

.ql-tooltip:before {
  content: "";
}

.ql-tooltip .ql-action, .ql-tooltip .ql-preview {
  display: none;
}

.ql-snow .ql-editor a {
  text-shadow: black 0 0 0.3em;
  text-decoration: none;
}

.ql-snow a {
  color: black;
}

.ql-editor--in_game {
  color: #20214C;
}

.ql-editor--in_game a:link {
  color: #20214C;
  text-shadow: #20214C 0 0 0.3em;
}

.ql-editor--off_game {
  color: #5A0700;
}

.ql-editor--off_game a:link {
  color: #5A0700;
  text-shadow: #5A0700 0 0 0.3em;
}

.fade-enter-active {
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-fold-enter-active {
  -webkit-animation: fadeAni .7s;
          animation: fadeAni .7s;
}

.fade-fold-enter-active > div {
  -webkit-animation: foldAni .8s;
          animation: foldAni .8s;
}

.fade-fold-leave-active {
  animation: fadeAni .6s reverse;
}

.fade-fold-leave-active > div {
  animation: foldAni .5s reverse;
}

.fade-slide-enter-active {
  -webkit-animation: fadeAni .4s;
          animation: fadeAni .4s;
}

.fade-slide-enter-active > div {
  -webkit-animation: slideAni .8s;
          animation: slideAni .8s;
}

.fade-slide-leave-active {
  animation: fadeAni .4s reverse;
}

.fade-slide-leave-active > div {
  animation: slideAni .5s reverse;
}

.autocomplete-enter-active {
  -webkit-animation: bounce-in .6s;
          animation: bounce-in .6s;
}

.autocomplete-leave-active {
  -webkit-animation: bounce-out .3s;
          animation: bounce-out .3s;
}

.fall-down-enter-active {
  -webkit-animation: fall-down .7s;
          animation: fall-down .7s;
}

@-webkit-keyframes fall-down {
  0% {
    -webkit-transform: translate(0, -1500px);
            transform: translate(0, -1500px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fall-down {
  0% {
    -webkit-transform: translate(0, -1500px);
            transform: translate(0, -1500px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes bounce-in {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes perspective-rotate {
  0% {
    -webkit-transform: perspective(600) scale(0.9) rotateY(90deg);
            transform: perspective(600) scale(0.9) rotateY(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) perspective(600) rotateY(0deg);
            transform: scale(1) perspective(600) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes perspective-rotate {
  0% {
    -webkit-transform: perspective(600) scale(0.9) rotateY(90deg);
            transform: perspective(600) scale(0.9) rotateY(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) perspective(600) rotateY(0deg);
            transform: scale(1) perspective(600) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes fadeAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
}

@-webkit-keyframes slideAni {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideAni {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes foldAni {
  0% {
    -webkit-transform: perspective(1000px) rotateY(90deg) scale(0.4);
            transform: perspective(1000px) rotateY(90deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotateY(0deg) scale(1);
            transform: rotateY(0deg) scale(1);
  }
}

@keyframes foldAni {
  0% {
    -webkit-transform: perspective(1000px) rotateY(90deg) scale(0.4);
            transform: perspective(1000px) rotateY(90deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotateY(0deg) scale(1);
            transform: rotateY(0deg) scale(1);
  }
}

.inkblot-enter-active, .inkblot-leave-active {
  -webkit-transition: text-shadow 5s;
  transition: text-shadow 5s;
}

.inkblot-enter, .inkblot-leave-to {
  text-shadow: 2x 2px 20px black;
}

.go-ingame__role-card {
  -webkit-transition: background-color .75s, color .75s;
  transition: background-color .75s, color .75s;
  cursor: default;
}

.go-ingame__role-card span, .go-ingame__role-card span:hover {
  cursor: default;
}

.go-ingame__role-card:hover {
  color: white;
  background-color: #20214C;
  cursor: default;
}

.go-ingame__role-card:hover span, .go-ingame__role-card:hover span:hover {
  cursor: default;
  color: white;
}

button, input[type=submit] {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.autocomplete__wrapper {
  display: inline-block;
}

.autocomplete__list {
  z-index: 1;
  position: absolute;
  -webkit-box-shadow: 0 0 10px 2px gray;
          box-shadow: 0 0 10px 2px gray;
}

.create-menu__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  opacity: 0.5;
}

.create-menu__point:hover {
  opacity: 1;
  -webkit-animation: rubrik-blot 1s 1;
          animation: rubrik-blot 1s 1;
  text-shadow: 0px 2px 15px #732c26;
}

.create-menu__point--active {
  opacity: 1;
}

body, html {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

body {
  background: #fff;
}

#tome {
  /* background: green; */
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  grid-column-gap: rem;
  background-image: url("../images/page-shadow.svg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 50px;
}

.tome-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr) 50px minmax(300px, 1fr);
      grid-template-columns: minmax(300px, 1fr) 50px minmax(300px, 1fr);
}

footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 4rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main {
  grid-column-gap: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: scroll;
}

.column {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 2rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.column--content {
  padding: 0 1.5rem 0 1rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid--auto-auto-c-c {
  -ms-grid-columns: 3fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr;
}

.grid--create-input {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin: 1rem;
}

.separator--mobile {
  display: none;
}

.global-menu {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr) 50px minmax(300px, 1fr);
      grid-template-columns: minmax(300px, 1fr) 50px minmax(300px, 1fr);
}

.global-menu--overlay {
  padding-top: 5rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.global-menu--overlay h2 {
  color: #5A0700;
  padding: .5rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px #fff;
          box-shadow: 0px 0px 3px #fff;
}

.global-menu__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .3rem;
}

.icon--bookmark {
  width: 35px;
  padding-left: 10px;
  margin-right: .5rem;
}

@media (max-width: 650px) {
  #tome {
    background-image: unset;
  }
  .separator--mobile {
    display: block;
    text-align: center;
  }
  .global-menu--overlay {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
}

main {
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}

.icon--breaker {
  text-align: center;
  width: 50%;
}

.overlay {
  background: rgba(81, 44, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  max-height: 100%;
  overflow: auto;
}

.paper-sheet {
  background: white;
}

@media (max-width: 650px) {
  .overlay {
    padding: 0;
  }
}

header > section {
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: rgba(90, 7, 0, 0.25) 5px double;
}

.bookmark--passive {
  background: #5A0700;
  margin-left: .2rem;
  margin-right: .2rem;
  margin-bottom: .2rem;
  margin-top: -3.5rem;
  height: 150%;
  border: 4px white double;
  -webkit-box-shadow: gray .2rem .2rem .5rem;
          box-shadow: gray .2rem .2rem .5rem;
  -webkit-transition: ease-in-out .3s all;
  transition: ease-in-out .3s all;
  cursor: pointer;
  opacity: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.bookmark--passive:hover {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: translate(0, 30px) rotate(-2deg);
          transform: translate(0, 30px) rotate(-2deg);
  opacity: 1;
  -webkit-box-shadow: gray .1rem .1rem .75rem;
          box-shadow: gray .1rem .1rem .75rem;
}

.bookmark--active {
  background: #5A0700;
  margin-left: .2rem;
  margin-right: .2rem;
  margin-top: -2.5rem;
  height: 80%;
  border: 4px white double;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

@media (max-width: 650px) {
  header > section {
    border: none;
  }
  header {
    border-bottom: rgba(90, 7, 0, 0.25) 5px double;
  }
  .bookmark__container {
    display: none;
  }
}

footer > section {
  padding: 0.5rem 0 0.5rem 0;
  border-top: rgba(90, 7, 0, 0.25) 5px double;
}

@media (max-width: 650px) {
  footer > section {
    border: none;
  }
  footer {
    border-top: rgba(90, 7, 0, 0.25) 5px double;
  }
}

.rubrik {
  color: #5A0700;
}

.ink {
  color: #20214C;
}

.leaf {
  color: #004900;
}

.ink--background {
  background-color: #20214C;
}

.rubrik--background {
  background-color: #5A0700;
}

.leaf--background {
  background-color: #004900;
}

.faded {
  opacity: 0.5;
}

.border--padding {
  padding: 2em;
  background: #fff;
}

.border--content {
  padding: 2em;
  border: rgba(90, 7, 0, 0.25) 5px double;
  overflow: auto;
}

@media (max-width: 650px) {
  .border--padding {
    padding: 0;
    background: #fff;
  }
  .border--content {
    padding: 1em;
  }
}

.content--scrollable {
  overflow: auto;
}

.alert {
  width: 100%;
}

.alert a {
  font-weight: bold;
}

.alert.alert--success {
  color: #004900;
  background: rgba(0, 73, 0, 0.25);
}

.alert.alert--success a {
  color: #004900;
}

.alert.alert--warning {
  color: #928D00;
  background: rgba(146, 141, 0, 0.25);
}

.alert.alert--warning a {
  color: #928D00;
}

.alert.alert--danger {
  color: #5A0700;
  background: rgba(90, 7, 0, 0.25);
}

.alert.alert--danger a {
  color: #5A0700;
}

.image--full-width {
  width: 100%;
}

.image--watermark {
  opacity: 0.25;
}

/* Cursors */
.cursor--pointer {
  cursor: pointer;
}

/* Animationer til links */
@-webkit-keyframes ink-blot {
  0% {
    text-shadow: 0px 0px 1px #9090a6;
  }
  100% {
    text-shadow: 5px 0px 15px #414267;
  }
}
@keyframes ink-blot {
  0% {
    text-shadow: 0px 0px 1px #9090a6;
  }
  100% {
    text-shadow: 5px 0px 15px #414267;
  }
}

@-webkit-keyframes rubrik-blot {
  0% {
    text-shadow: 0px 0px 1px #decdcc;
  }
  100% {
    text-shadow: 0px 0px 15px #732c26;
  }
}

@keyframes rubrik-blot {
  0% {
    text-shadow: 0px 0px 1px #decdcc;
  }
  100% {
    text-shadow: 0px 0px 15px #732c26;
  }
}

a:active, a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.description .rubrik a {
  text-shadow: 0px 0px 1px #9c6a66;
}

.description .ink a {
  text-shadow: 0px 0px 1px #797a94;
}

.description .rubrik a.ink {
  text-shadow: 0px 0px 1px #9c6a66;
}

.description .ink a.rubrik {
  text-shadow: 0px 0px 1px #797a94;
}

/* Ink/Rubrik Links  */
a.rubrik, .rubrik a,
.rubrik.ini-beskrivelse-manchet,
.rubrik.ini-beskrivelse-fuld {
  text-decoration: none;
  display: inline-block;
}

a.rubrik:link, .rubrik a:link,
.rubrik.ini-beskrivelse-manchet:link,
.rubrik.ini-beskrivelse-fuld:link {
  color: #5A0700;
  text-decoration: none;
}

a.rubrik:visited, .rubrik a:visited,
.rubrik.ini-beskrivelse-manchet:visited,
.rubrik.ini-beskrivelse-fuld:visited {
  color: #5A0700;
  text-decoration: none;
}

a.rubrik:active, .rubrik a:active,
.rubrik.ini-beskrivelse-manchet:active,
.rubrik.ini-beskrivelse-fuld:active {
  color: #5A0700;
  text-decoration: none;
  outline: none;
}

a.rubrik:hover, .rubrik a:hover,
.rubrik.ini-beskrivelse-manchet:hover,
.rubrik.ini-beskrivelse-fuld:hover {
  color: #5A0700;
  text-decoration: none;
  -webkit-animation: rubrik-blot 1s 1;
          animation: rubrik-blot 1s 1;
  text-shadow: 0px 2px 15px #732c26;
}

a.ink:link, .ink a:link,
.ink.ini-beskrivelse-manchet:link,
.ink.ini-beskrivelse-fuld:link {
  color: #20214C;
  text-decoration: none;
}

a.ink:visited, .ink a:visited,
.ink.ini-beskrivelse-manchet:visited,
.ink.ini-beskrivelse-fuld:visited {
  color: #20214C;
  text-decoration: none;
}

a.ink:active, .ink a:active,
.ink.ini-beskrivelse-manchet:active,
.ink.ini-beskrivelse-fuld:active {
  color: #20214C;
  text-decoration: none;
  outline: none;
}

a.ink:hover, .ink a:hover,
.ink.ini-beskrivelse-manchet:hover,
.ink.ini-beskrivelse-fuld:hover {
  color: #20214C;
  text-decoration: none;
  -webkit-animation: ink-blot 1s ease-out;
          animation: ink-blot 1s ease-out;
  text-shadow: 0px 0px 15px #414267;
}

.rubrik.blot:hover {
  color: #5A0700;
  text-decoration: none;
  -webkit-animation: rubrik-blot 1s 1;
          animation: rubrik-blot 1s 1;
  text-shadow: 0px 0px 15px #732c26;
}

.ink.blot:hover {
  color: #20214C;
  text-decoration: none;
  -webkit-animation: ink-blot 1s 1;
          animation: ink-blot 1s 1;
  text-shadow: 0px 0px 15px #414267;
}

.placeholder--name {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px auto;
      grid-template-columns: 110px auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1em;
}

.placeholder--dropcap {
  height: 100px;
  width: 100px;
  border: 10px #7778A0 double;
  float: left;
}

.placeholder--h1 {
  height: 35px;
  width: 33%;
  background: #7778A0;
  margin-bottom: 10px;
}

.placeholder--h3 {
  height: 35px;
  width: 33%;
  background: #7778A0;
  margin-bottom: 10px;
}

.placeholder--p {
  height: 15px;
  width: 33%;
  background: #7778A0;
  margin-bottom: 10px;
}

.placeholder--li {
  height: 15px;
  width: 33%;
  background: #7778A0;
  margin-bottom: 2px;
}

/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Loading animation container */
/* Spinning circle (inner circle) */
.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid #5A0700;
}

/* Spinning circle mask */
.loading .mask {
  width: 12px;
  height: 12px;
  overflow: hidden;
}

/* Spinner */
.loading .spinner {
  /*position: absolute;
	left: 1px;
	top: 1px;*/
  width: 26px;
  height: 26px;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

ul {
  margin: 0;
}

ul {
  list-style-type: "- ";
  padding-left: 1em;
  list-style-position: outside;
}

li {
  font-size: 15px;
}

.description {
  overflow: auto;
}

.description--short {
  text-align: justify;
}

.description--secret {
  text-decoration: line-through;
}

.description--irrelevant.rubrik {
  color: rgba(90, 7, 0, 0.25);
}

.description--irrelevant.ink {
  color: rgba(32, 33, 76, 0.25);
}

.description--full {
  font-size: 1.7rem;
}

.description--full p {
  font-size: 1.7rem;
}

.description--image {
  padding: 0.6em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.description--image img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 100%;
}

.description--image div {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 20;
}

.description--image div div {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0.2em;
  background: #fff;
}

.description--text article {
  padding: 0.6em;
}

.description--text article::first-letter {
  font-family: "eileencaps";
  font-weight: normal;
  float: left;
  font-size: 3em;
  color: inherit;
  margin-right: 5px;
  padding: 0.05em;
  margin-bottom: .05em;
  margin-right: .05em;
  border: double 10px;
}

.description--text article.rubrik:first-letter {
  border-color: #5A0700;
}

.description--text article.ink:first-letter {
  border-color: #20214C;
}

.description--text article.description--irrelevant.rubrik:first-letter {
  border-color: rgba(90, 7, 0, 0.25);
}

.description--text article.description--irrelevant.ink:first-letter {
  border-color: rgba(32, 33, 76, 0.25);
}

.description--text article div {
  display: inline;
}

.element--irrelevant,
.element--irrelevant a:link,
.element--irrelevant a:visited,
.element--irrelevant a:active,
.element--irrelevant a:hover {
  color: rgba(32, 33, 76, 0.25);
}

.editor.editor--description {
  background-color: red;
  grid-column: span 2;
  grid-row: span 2;
}

@font-face {
  font-family: "centabel";
  src: url("../fonts/centabel/centabel.eot");
  src: url("../fonts/centabel/centabel.eot") format("embedded-opentype"), url("../fonts/centabel/centabel.woff") format("woff"), url("../fonts/centabel/centabel.ttf") format("truetype"), url("../fonts/centabel/centabel.svg#CentabelBook") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "eileencaps";
  src: url("../fonts/eileen/EileenCaps-Black.eot?#iefix");
  src: url("../fonts/eileen/EileenCaps-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/eileen/EileenCaps-Black.woff") format("woff"), url("../fonts/eileen/EileenCaps-Black.ttf") format("truetype"), url("../fonts/eileen/EileenCaps-Black.svg#EileenCaps-Black") format("svg");
  font-weight: 100;
}

body {
  font-family: "centabel";
}

h1 {
  margin-top: 0.1em;
}

h1.initial:first-child:first-letter {
  font-family: "eileencaps";
  font-weight: normal;
  float: left;
  font-size: 3em;
  color: #20214C;
  margin-right: 5px;
  padding: 0.05em;
  margin-bottom: .05em;
  margin-right: .05em;
  border: #20214C double 10px;
}

h3, h4, h5 {
  margin-bottom: 0.2em;
  margin-top: 0.4em;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0.3em;
}

.strike-through {
  text-decoration: line-through;
}

.align--right {
  text-align: right;
}

button, input[type=submit] {
  border: rgba(90, 7, 0, 0.4) 5px double;
  background-color: #fff;
  padding: 0.5em;
  color: rgba(90, 7, 0, 0.8);
  margin: .1em;
}

button:hover, input[type=submit]:hover {
  background-color: rgba(90, 7, 0, 0.5);
  color: #fff;
}

button:disabled, input[type=submit]:disabled {
  opacity: 0.5;
}

button:disabled:hover, input[type=submit]:disabled:hover {
  background-color: #fff;
  color: rgba(90, 7, 0, 0.8);
}

button.button--text-large {
  font-size: 125%;
}

button.button--small {
  font-size: 75%;
  margin: 1px 0 0 0;
  padding: 1px 4px 1px 4px;
  border: rgba(90, 7, 0, 0.4) 1px solid;
}

button.button--close-modal {
  padding: 3px 6px 3px 6px;
  border: rgba(90, 7, 0, 0.4) 1px solid;
  font-size: 2rem;
  line-height: 1;
}

button.button--ink {
  border-color: #20214C;
  color: #20214C;
}

button.button--ink.button--active {
  color: #fff;
  background-color: rgba(32, 33, 76, 0.5);
}

button.button--ink:hover {
  background-color: rgba(32, 33, 76, 0.5);
  color: #fff;
}

button.button--rubrik.button--active {
  color: #fff;
  background-color: rgba(90, 7, 0, 0.5);
}

input[type=text], input[type=password], input[type=number], select, option {
  font-family: "centabel";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  border: rgba(90, 7, 0, 0.25) 1px solid;
  color: #20214C;
  background: #fff;
  height: 1.5rem;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, select:focus, option:focus {
  outline: #5A0700;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=number]:disabled, select:disabled, option:disabled {
  background: rgba(90, 7, 0, 0.25);
  color: #fff;
}

fieldset {
  border: rgba(90, 7, 0, 0.25) 5px double;
}

fieldset legend {
  color: #20214C;
  font-weight: bold;
}

.edit-ingame-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 70px 60px 120px 70px 40px;
      grid-template-columns: 40px 70px 60px 120px 70px 40px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
}

.edit-ingame-time div {
  padding-left: 1px;
  padding-right: 1px;
}

.edit-ingame-time div .input--time {
  width: 25%;
}

@media (max-width: 576px) {
  .edit-ingame-time {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.edit-name {
  border: rgba(90, 7, 0, 0.25) 5px double;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}

.popover--delete-name {
  z-index: 100;
  grid-column: span 2;
  grid-row: span 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: -ms-grid;
  display: grid;
}

.popover--delete-name p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ql-bslink:after {
  content: "\1F50D";
}

.base-layer--paper-sheet > div.description-editor--no-padding {
  padding: 0em;
}

input[type=checkbox] {
  margin-top: 0;
  margin-bottom: 0;
}

.description-editor {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  display: -ms-grid;
  display: grid;
}

.description-editor h3 {
  margin-top: 0;
}

.description-editor__status {
  padding: 1em;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.description-editor__main {
  overflow: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: (minmax(500px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(500px, 1fr));
}

@media (max-width: 1000px) {
  .description-editor__main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.description-editor__status--success {
  background: #ccdbcc;
  color: #004900;
}

.description-editor__status--warning {
  background: #e9e8cc;
  color: #928D00;
}

.description-editor__status--error {
  background: #decdcc;
  color: #004900;
}

.description-editor__element-relation {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.4em;
  padding: 0.3em;
}

.description-editor__element-relation input {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 0.8em;
  border: 1px grey solid;
}

.description-editor__element-relation--ink {
  background: #20214C;
}

.description-editor__element-relation--rubrik {
  background: #5A0700;
}

.description-editor__element-relation .popup-element.ink, .description-editor__element-relation .popup-element.rubrik {
  color: #fff;
}

.description-editor__element-relation-icon {
  height: 20px;
  margin: 0 5px;
}

.toc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toc__fill {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px dotted #20214C;
  margin-right: .5rem;
  margin-left: .5rem;
}
/*# sourceMappingURL=style.css.map */