
// Colors
$paper: #fff;
$rubrik: #5A0700;
$ink: #20214C;
$leaf: #004900;
$turmeric: #928D00;


html, body {
	margin: 0;

}

$width-mobile: 650px;

// Quill Styles for 3rd party editor

@import "quill/quill.core";
@import "quill/quill.snow";
@import "quill/quill.bestiaries";


@import "animations";
@import "autocomplete"; 
@import "create-menu";
@import "grid";
@import "scrollbar";
@import "icons";
@import "paper";
@import "header";
@import "footer";
@import "ink";
@import "image";
@import "links";
@import "loading";
@import "lists";
@import "description";
@import "font";
@import "buttons";
@import "forms";
@import "edit-ingame-time";
@import "edit-name";
@import "editors";
@import "toc";